<header>
    <nav class="navbar navbar-expand-lg navbar-light menu-appodium  fixed-top">
        <div class="container">
            <a [routerLink]="['/']" class="navbar-brand" (click)="closeMenuH()"> <img src="../assets/img/appodium.png" class="logo-appodium" alt="logo, logo-appodium, appodium"> </a>
            <app-menu class="header-appodium" id="men_banner"> </app-menu>
        </div>
        <!-- .container -->
    </nav>
    <!-- .navbar -->
    <!-- .page-banner -->
</header>