
<div class="" [style.background-color]="colorFondo">
    <div class="login-form text-center px-7 py-5 position-relative overflow-hidden">
        <div class="d-flex flex-center mb-15">
            <a href="#"><img src="assets/media/logos/appodium.png" alt="" class="max-h-75px"></a>
        </div>
        <div class="login-signin">
            <div class="mb-5">
                <h3 style="color: #6132B5;"> Registro</h3>
                <div class="text-muted font-weight-bold" style="font-size: 0.9rem;">Completa el formulario para continuar con el triage:</div>
            </div>
            <form class="form ng-untouched ng-pristine ng-valid form-auth">
                <div class="form-group mb-4">
                    <input type="text" placeholder="Nombre" name="username" autocomplete="off" class="form-control form-control-solid py-4 px-4">
                </div>
                <div class="form-group mb-3">
                    <input type="text" placeholder="Télefono" name="password" class="form-control h-auto form-control-solid py-4 px-4">
                </div>
                
                <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4">Continuar</button>
            </form>
        
        </div>
    </div>

</div>