<main class="bg-light">

    <div class="page-section-login" style="min-height: 900px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card-page-auth">
                        <div class="login-form text-center px-7 pt-1 pb-5 position-relative overflow-hidden">

                            <div class="login-signin">
                                <div class="mb-5">
                                    <img src="assets/img/head-apodium.svg" width="120px" alt="logo, logo-appodium, appodium ">
                                    <h3 style="color: #6132B5;">Bienvenido a Appodium</h3>
                                    <div class="text-muted font-weight-bold" style="font-size: 1rem; padding-top: 15px;">Completa el formulario para ingresa.</div>
                                </div>

                                <form class="form form-auth ng-untouched ng-pristine ng-valid form-auth" [formGroup]="LoginForm">
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="Email" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" required formControlName="email">
                                        <div *ngIf="(LoginForm.get('email').invalid && LoginForm.get('email').touched) || LoginForm.get('email').dirty" class="mt-1 invalid-message" style="color: #6a32b5;">
                                            <small style="font-size: 0.8rem;" *ngIf="LoginForm.get('email').errors?.required">Debe ingresar un correo valido</small>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="password" placeholder="Password" name="password" class="form-control mx-auto h-auto form-control-solid form-appodium py-4" formControlName="password">
                                        <div *ngIf="getPassRequired('password')?.errors?.pattern" class="mt-1  invalid-message" style="text-align: left;font-size: 0.8rem; color: #6a32b5;">
                                            Debe incluir una mayúscula, un número, un carácter especial<br> y tener mínimo 8 caracteres.
                                        </div>
                                        <small *ngIf="getPassRequired('password')?.errors?.required  && getPassRequired('password').touched " style="text-align: left;font-size: 0.8rem; color: #6a32b5;"> Campo requerido  </small>
                                    </div>
                                    <div class="form-group recovery-pass-label d-flex flex-wrap mb-4">
                                        <a class="text-muted text-hover-primary invalid-message" [routerLink]="['/cambio-clave']">Cambiar contraseña</a>
                                    </div>
                                </form>

                                <div>
                                    <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="login()">Ingresar</button>
                                    <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="goBack()">Regresar</button>
                                </div>
                                <div class="mt-10">
                                    <span class="opacity-70"></span>
                                    <a [routerLink]="['/register']" class="text-muted text-hover-primary font-weight-bold" style="color: #554092 !important; font-size: 0.9rem;">¡Registrate!</a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</main>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
            </div>
            <div class="modal-body modal-body-appodium" style="text-align:center">
                {{messageResult}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>