<app-headerint class="header-appodium" id="banner"> </app-headerint>
<!-- bienvenida- -->

<section class="page-section bg-gris mt-5" *ngIf="posCovid">
    <div id="" class="position-realive bg-gris">

        <div class="container-emprise">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="../assets/img/empresa.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <!-- <div class="subhead">¿Te gustaría saber de nosotros?</div> -->
                    <h2 class="title-section">RIESGO PSICOSOCIAL EMPRESARIAL</h2>
                    <div class="divider ml-sm-5 ml-lg-0 "></div>
                    <ul>
                        <li class="text-justiyfy">Aplicación de batería de riesgo psicosocial a partir de la evaluación de factores Intra / Extra laborales y estrés.</li>
                        <li class="text-justiyfy">Identificación de factores de riesgo psicosocial por áreas de trabajo y por colaborador.</li>
                        <li class="text-justiyfy">Intervención en factores de riesgo psicosocial por áreas de trabajo y por colaborador.</li>
                    </ul>
                    <br>
                    <p class="text-justiyfy weigth-500" style="color: #5e35b0;">QUE CONTIENE:</p>
                    <ul>
                        <li class="text-justiyfy">Valoración y diagnóstico.</li>
                        <li class="text-justiyfy">Propuesta de intervención.</li>
                        <li class="text-justiyfy">Reporte de avances.</li>
                    </ul>

                    <div class="justify-content-center">
                        <a [routerLink]="['/']" fragment="empresas">
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" style="padding: 0 20px" (click)="navigateToSection()">Regresar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section bg-gris mt-5" *ngIf="psicolaboral">
    <div id="" class="position-realive bg-gris">

        <div class="container-emprise">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="../assets/img/empresa.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <!-- <div class="subhead">¿Te gustaría saber de nosotros?</div> -->
                    <h2 class="title-section">SALUD MENTAL EMPRESARIAL</h2>
                    <div class="divider ml-sm-5 ml-lg-0 "></div>
                    <ul>
                        <li class="text-justiyfy">Gestión del estrés físico, mental, emocional y Bourn out.</li>
                        <li class="text-justiyfy">Fortalecimiento de relaciones intra e interpersonales.</li>
                        <li class="text-justiyfy">Prevención y manejo de alteraciones de la salud mental, física y emocional.</li>
                        <li class="text-justiyfy">Fortalecimiento de redes de apoyo laboral (Trabajo en equipo).</li>
                        <li class="text-justiyfy">Desarrollo de habilidades cognitivo laborales : Habilidades básicas y funciones ejecutivas.</li>
                        <li class="text-justiyfy">Toma de decisiones, liderazgo y relaciones comunicativas.</li>
                    </ul><!--  <p class="text-justiyfy"> Apoyo psicológico para retorno y adaptación  al trabajo presencial.</p>
                    <p class="text-justiyfy"> Intervención en reacciones de estrés al COVID.</p>
                    <p class="text-justiyfy"> Intervención en síntomas de Ansiedad.</p>
                    <p class="text-justiyfy"> Intervención en señales de estrés postraumático.</p>
                     -->
                    <br>
                    <p class="text-justiyfy weigth-500" style="color: #5e35b0;">QUE CONTIENE:</p>
                    <ul>
                        <li class="text-justiyfy">Valoración y diagnóstico.</li>
                        <li class="text-justiyfy">Propuesta de intervención.</li>
                        <li class="text-justiyfy">Reporte de avances.</li>
                    </ul>
                    <!--  <p class="text-justiyfy">Valoración individualizada</p>
                    <p class="text-justiyfy"> Propuesta de intervención asociada a evaluación de desempeño</p>
                    <p class="text-justiyfy"> Reporte de avances</p> -->

                    <div class="justify-content-center">
                        <a [routerLink]="['/']" fragment="empresas">
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" style="padding: 0 20px" (click)="navigateToSection()">Regresar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section bg-gris mt-5" *ngIf="doblePresencia">
    <div id="" class="position-realive bg-gris">

        <div class="container-emprise">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="../assets/img/empresa.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <!-- <div class="subhead">¿Te gustaría saber de nosotros?</div> -->
                    <h2 class="title-section">APOYO EN SITUACIONES DE DOBLE PRESENCIA</h2>
                    <div class="divider ml-sm-5 ml-lg-0 "></div>
                    <p>Doble Presencia: Preocupaciones del ambiente personal y/o familiar que interfieren en el desempeño laboral. </p>
                    <ul>
                        <li class="text-justiyfy"> Orientación en resolución de conflictos.</li>
                        <li class="text-justiyfy"> Fortalecimiento de habilidades de afrontamiento.</li>
                        <li class="text-justiyfy"> Fortalecimiento de habilidades de comunicación.</li>
                    </ul>
                    <!--  <p class="text-justiyfy"> Apoyo psicológico para retorno y adaptación  al trabajo presencial.</p>
                    <p class="text-justiyfy"> Intervención en reacciones de estrés al COVID.</p>
                    <p class="text-justiyfy"> Intervención en síntomas de Ansiedad.</p>
                    <p class="text-justiyfy"> Intervención en señales de estrés postraumático.</p>
                     -->
                    <br>
                    <p class="text-justiyfy weigth-500" style="color: #5e35b0;">QUE CONTIENE:</p>
                    <ul>
                        <li class="text-justiyfy"> Valoración individualizada.</li>
                        <li class="text-justiyfy"> Propuesta de intervención asociada a evaluación de desempeño.</li>
                        <li class="text-justiyfy"> Reporte de avances.</li>
                    </ul>
                    <!--  <p class="text-justiyfy">Valoración individualizada</p>
                    <p class="text-justiyfy"> Propuesta de intervención asociada a evaluación de desempeño</p>
                    <p class="text-justiyfy"> Reporte de avances</p> -->

                    <div class="justify-content-center">
                        <a [routerLink]="['/']" fragment="empresas" >
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" style="padding: 0 20px" (click)="navigateToSection()">Regresar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer -->
<div class="page-footer-section bg-dark fg-white">

    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6 mb-2 logo-footer">
                <img src="../assets/img/appodium-bn.png" alt="" width="250">
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-5">
                <p class="d-inline-block">Copyright 2020. This template designed by MACode ID</p>
            </div>
            <div class="col-12 col-md-3">
                <!-- Social Media Button -->
                <div class="redes-appodium">
                    <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-facebook"></span></a>
                    <a href="https://www.instagram.com/appodium_psicologia/" class="btn btn-fab btn-primary fg-white" style="margin-left: 8px;">
                        <span
                            class="mai-logo-instagram">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <a [href]="habeas" target="_blank" style="color:white !important">
                    <small> politica de privacidad. </small>
                </a>
            </div>

        </div>
    </div>
</div>

<div id="contactclick_button_floating" style="position:fixed; bottom:15px; left: 20px; z-index: 2147483640; text-align:left">
    <button class="btn btn-primary shadow" [routerLink]="['/contactenos']">
        <img src="../assets/img/icons/contact-white.png" alt="contactenos, boton contacto" width="25" *ngIf="iconButton">
        <span *ngIf="!iconButton">¡Contáctanos!</span>
    </button>
</div>
<!-- <section [ngClass]="{'sectionStiky': !mobile,  'sectionStiky-mobile': mobile }">
    <div class="separador">
        <! --  <div class="mb-2 logo-footer">
            <img src="../assets/img/appodium.png" alt="" width="250">
        </div> -- >
        <div class="my-auto" *ngIf="!mobile">
            <h4 class="offset-lg-1" style="font-size:35px; color: #fff;"><span> A UN CLIC DE EMPODERAR TU MENTE !!!</span></h4>
            <h5 style="color: #fff"> Quédate con nosotros Contáctanos </h5>
        </div>
        <div class="justify-content-center">
            <button class="btn btn-purple font-weight-bold shadow px-9 py-2 my-3 mx-4">Contacto</button>
            <! -- <a class="_btn btn-outline-light"><span>Contacto</span></a> -- >
        </div>
    </div>
</section> -->