.servicio-banner {
    height: 240px;
    max-height: unset;
}

.appodium-services {
    min-width: 300px;
}

.hero-carousel-services .img-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0 16px;
    width: auto;
    height: 100%;
    text-align: center;
    color: #fff;
    margin-top: 5%;
}

.sectionStiky {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 45%;
    /* background-color: #0cbcb7; */
    padding: 17px;
}

.my-auto {
    text-align: center;
}

.btn-purple {
    background-color: #9a66ff;
    border-color: #9a66ff;
    color: #fff;
}

@media (max-width:320px) {
    .servicio-banner {
        min-height: 170px;
    }
    .page-banner {
        position: relative;
        height: 160px;
    }
    .appodium-services {
        min-width: 200px;
        margin-top: 32px
    }
}

@media (min-width:321px) and (max-width:375px) {
    .servicio-banner {
        min-height: 200px;
    }
    .page-banner {
        position: relative;
        height: 160px;
    }
    .appodium-services {
        min-width: 200px;
        margin-top: 32px
    }
}

@media (min-width:376px) and (max-width:425px) {
    .servicio-banner {
        min-height: 240px;
    }
    .page-banner {
        position: relative;
        height: 240px;
    }
    .appodium-services {
        min-width: 200px;
        margin-top: 55px
    }
}

@media (min-width:426px) and (max-width:768px) {
    .servicio-banner {
        min-height: 465px;
    }
    .appodium-services {
        min-width: 200px;
        max-width: 420px;
        margin-top: 107px
    }
}

@media (min-width:768px) {
    .servicio-banner {
        min-height: 500px;
    }
    .appodium-services {
        min-width: 200px;
        max-width: 420px;
        margin-top: 107px
    }
}

.container-emprise {
    max-width: 1360px;
    ;
}