.test p {
    font-size: 1.1rem;
}

.modal-header {
    background-color: #12908c;
}

.modal-header h5 {
    color: #ffffff;
}

.modal-header-1 h5 {
    color: #ffffff;
}

.modal-header-2 h5 {
    color: #ffffff;
}

.modal-header-1 {
    background-color: #b9b300;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-header-2 {
    background-color: #ec2828;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.btn-primary {
    color: #ffffff;
    background-color: #00BDB8;
    border-color: transparent !important;
}

@media(min-width:1400px) {
    .label-answer1 {
        margin-left: 24px;
    }
    .pregunta {
        min-width: 639px;
        text-align: left;
    }
}

@media(min-width:1200px) {
    .triage-full-ind {
        margin-left: -9px;
    }
    .pregunta {
        min-width: 500px;
        text-align: left;
        color: #6d728b;
    }
    .pregunta-1 {
        min-width: 500px;
        text-align: left;
    }
    .triage-struct {
        margin: 18px 31px;
    }
}

@media(min-width:992px) and (max-width:1200px) {
    .triage-full-ind {
        margin-left: -20px;
    }
}

@media(min-width:1200px) and (max-width:1399px) {
    .label-answer1 {
        margin-left: 12px;
    }
}

@media(min-width:768px) and (max-width:992px) {
    .label-answer1 {
        margin-left: -6px;
    }
    .triage-full-ind {
        margin-left: -26px;
    }
}

@media(max-width:992px) {
    .col-img,
    .title-im {
        display: none;
    }
    .pregunta {
        min-width: 300px;
        text-align: left;
    }
}

.modal-body-pay {
    display: flex;
    justify-content: center;
}

.image-pay {
    width: 200px;
}

.image-pay-2 {
    width: 114px;
}

.modal-body-appodium {
    padding: 30px 35px !important;
}

.triage-struct {
    margin: 20px 50px;
}

.col-img {
    padding-right: 16px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.row-table {
    margin-top: 10px;
}

.title-rb {
    padding: 0 8px;
    color: #12b0ac;
}

.triage-full-struct {
    margin: 20px 45px;
}


/* new design  */

table {
    border-collapse: separate;
    border-spacing: 0 30px;
}

.title-header {
    color: #00BDB8;
}

.text-message {
    color: #6D728B;
}

.page-section {
    background-color: #efefef;
}

.pregunta {
    color: #5e35b0;
}