<div class="page-section page-section-triage pt-5" style="min-height: 600px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card-page">

                    <div class="login-form text-center px-0  py-3 position-relative overflow-hidden">

                        <!-- triage ligth -->
                        <div class="" *ngIf="triageLight1">
                            <div class="mb-5">
                                <h3 style="color: #0dbcb7;"> Triage </h3>
                            </div>
                            <div class="form-group mb-4  px-7 row ">
                                <div class="col-10 mx-auto">
                                    <div class="test " style="text-align:initial">
                                        <p>
                                            Escoge la respuesta de acuerdo a como te hayas sentido EN EL ÚLTIMO MES Tienes 3 alternativas de respuesta:
                                        </p>
                                        <div class="">
                                            <p><b>A:</b> Acuerdo </p>
                                            <p><b>PA:</b> Parcialmente de acuerdo</p>
                                            <p><b>D:</b> Desacuerdo </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(2)">Continuar</button>
                        </div>

                        <!-- Form 2 -- Triageligth -->
                        <div class="" *ngIf="triageLight2">
                            <!-- Contenedor css-grid  -->
                            <div class="container-triage">
                                <div class="header-triage mb-5 mt-4">
                                    <div class="form-group mb-4 row">
                                        <div class="col-12">
                                            <div class="test " style="text-align:center">
                                                <h3 class="title-header">
                                                    Se vale perderse en el camino… <br> Se vale pedir ayuda…
                                                </h3>
                                                <p class="mt-4">{{ headerT_light }} </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <form class="form body-triage">
                                    <table class="triage-struct">
                                        <tr>
                                            <th class="title-im"></th>
                                            <th></th>
                                            <th class="title-rb" style="min-width: 110px;">Acuerdo</th>
                                            <th class="title-rb">Parcialmente Desacuerdo</th>
                                            <th class="title-rb">Totalmente Desacuerdo</th>
                                        </tr>
                                        <tr class="row-table">
                                            <td class="pregunta"> {{ tl_prg[0].nombre }} </td>
                                            <td></td>
                                            <td>
                                                <mat-radio-button value="3" name="q1" ngDefaultControl [(ngModel)]="this.tl1">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="q1" ngDefaultControl [(ngModel)]="this.tl1">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="q1" ngDefaultControl [(ngModel)]="this.tl1">
                                                </mat-radio-button>
                                            </td>
                                        </tr>
                                        <tr class="row-table">
                                            <td class="pregunta"> {{ tl_prg[1].nombre }} </td>
                                            <td></td>
                                            <td>
                                                <mat-radio-button value="3" name="q2" ngDefaultControl [(ngModel)]="this.tl2">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="q2" ngDefaultControl [(ngModel)]="this.tl2">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="q2" ngDefaultControl [(ngModel)]="this.tl2">
                                                </mat-radio-button>
                                            </td>
                                        </tr>
                                        <tr class="row-table">
                                            <td class="pregunta"> {{ tl_prg[2].nombre }} </td>
                                            <td></td>
                                            <td>
                                                <mat-radio-button value="3" name="q3" ngDefaultControl [(ngModel)]="this.tl3">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="q3" ngDefaultControl [(ngModel)]="this.tl3">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="q3" ngDefaultControl [(ngModel)]="this.tl3">
                                                </mat-radio-button>
                                            </td>
                                        </tr>

                                        <tr class="row-table">
                                            <td class="pregunta"> {{ tl_prg[3].nombre }} </td>
                                            <td></td>
                                            <td>
                                                <mat-radio-button value="3" name="q4" ngDefaultControl [(ngModel)]="this.tl4">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="q4" ngDefaultControl [(ngModel)]="this.tl4">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="q4" ngDefaultControl [(ngModel)]="this.tl4">
                                                </mat-radio-button>
                                            </td>
                                        </tr>

                                        <tr class="row-table">
                                            <td class="pregunta"> {{ tl_prg[4].nombre }} </td>
                                            <td></td>
                                            <td>
                                                <mat-radio-button value="3" name="q5" ngDefaultControl [(ngModel)]="this.tl5">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="q5" ngDefaultControl [(ngModel)]="this.tl5">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="q5" ngDefaultControl [(ngModel)]="this.tl5">
                                                </mat-radio-button>
                                            </td>
                                        </tr>
                                    </table>

                                </form>
                            </div>
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="resultTriage()">Finalizar
                            </button>

                        </div>

                        <!-- Form 3  begin triage full-->

                        <!-- Form 4 triage full - 1 -->
                        <!-- <div class="" *ngIf="form4"> -->
                        <div class="" *ngIf="form3">
                            <div class="container-triage">
                                <div class="header-triage mb-5 mt-4">
                                    <div class="form-group mb-4 row">
                                        <div class="col-7 mx-auto">
                                            <div class="test " style="text-align:center">
                                                <h3 class="title-header">
                                                    {{ this.t_full_headers[0] }}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="form body-triage">
                                    <table class="triage-full-struct">
                                        <tr>
                                            <th></th>
                                            <th class="title-rb">Acuerdo</th>
                                            <th class="title-rb">Parcialmente Desacuerdo</th>
                                            <th class="title-rb">Totalmente Desacuerdo</th>
                                        </tr>
                                        <tr class="row-table">

                                            <td class="pregunta-1">
                                                <p> {{ this.tf_prg_sctn_1[0][0].nombre }} </p>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="p1" ngDefaultControl [(ngModel)]="this.p1">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="p1" ngDefaultControl [(ngModel)]="this.p1">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="3" name="p1" ngDefaultControl [(ngModel)]="this.p1">
                                                </mat-radio-button>
                                            </td>
                                        </tr>
                                        <tr class="row-table">
                                            <td class="pregunta-1">
                                                <p> {{this.tf_prg_sctn_1[0][1].nombre}} </p>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="p2" ngDefaultControl [(ngModel)]="this.p2">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="p2" ngDefaultControl [(ngModel)]="this.p2">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="3" name="p2" ngDefaultControl [(ngModel)]="this.p2">
                                                </mat-radio-button>
                                            </td>
                                        </tr>
                                        <tr class="row-table">
                                            <td class="pregunta-1">
                                                <p> {{this.tf_prg_sctn_1[0][2].nombre}} </p>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="p3" ngDefaultControl [(ngModel)]="this.p3">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="p3" ngDefaultControl [(ngModel)]="this.p3">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="3" name="p3" ngDefaultControl [(ngModel)]="this.p3">
                                                </mat-radio-button>
                                            </td>
                                        </tr>
                                        <tr class="row-table">
                                            <td class="pregunta-1">
                                                <p> {{this.tf_prg_sctn_1[0][3].nombre}} </p>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="p4" ngDefaultControl [(ngModel)]="this.p4">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="p4" ngDefaultControl [(ngModel)]="this.p4">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="3" name="p4" ngDefaultControl [(ngModel)]="this.p4">
                                                </mat-radio-button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(4)">Continuar</button>
                        </div>

                        <!-- Form 5  triage full - 2  -->
                        <div class="" *ngIf="form4">

                            <div class="container-triage">
                                <div class="header-triage mb-5 mt-4">
                                    <div class="form-group mb-4 row">
                                        <div class="col-7 mx-auto">
                                            <div class="test " style="text-align:center">
                                                <h3 class="title-header">
                                                    {{ this.t_full_headers[1] }}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="form body-triage">
                                    <table class="triage-full-struct">
                                        <tr>
                                            <th></th>
                                            <th class="title-rb">Acuerdo</th>
                                            <th class="title-rb">Parcialmente Desacuerdo</th>
                                            <th class="title-rb">Totalmente Desacuerdo</th>
                                        </tr>
                                        <tr class="row-table">
                                            <td class="pregunta">
                                                <p> {{this.tf_prg_sctn_1[1][0].nombre}} </p>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="p5" ngDefaultControl [(ngModel)]="this.p5">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="p5" ngDefaultControl [(ngModel)]="this.p5">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="3" name="p5" ngDefaultControl [(ngModel)]="this.p5">
                                                </mat-radio-button>
                                            </td>
                                        </tr>
                                        <tr class="row-table">
                                            <td class="pregunta">
                                                <p>{{this.tf_prg_sctn_1[1][1].nombre}}</p>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="p6" ngDefaultControl [(ngModel)]="this.p6">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="p6" ngDefaultControl [(ngModel)]="this.p6">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="3" name="p6" ngDefaultControl [(ngModel)]="this.p6">
                                                </mat-radio-button>
                                            </td>
                                        </tr>
                                        <tr class="row-table">
                                            <td class="pregunta">
                                                <p>{{this.tf_prg_sctn_1[1][2].nombre}}</p>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="p7" ngDefaultControl [(ngModel)]="this.p7">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="p7" ngDefaultControl [(ngModel)]="this.p7">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="3" name="p7" ngDefaultControl [(ngModel)]="this.p7">
                                                </mat-radio-button>
                                            </td>
                                        </tr>
                                        <tr class="row-table">
                                            <td class="pregunta">
                                                <p>{{this.tf_prg_sctn_1[1][3].nombre}}</p>
                                            </td>
                                            <td>
                                                <mat-radio-button value="1" name="p8" ngDefaultControl [(ngModel)]="this.p8">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="2" name="p8" ngDefaultControl [(ngModel)]="this.p8">
                                                </mat-radio-button>
                                            </td>
                                            <td>
                                                <mat-radio-button value="3" name="p8" ngDefaultControl [(ngModel)]="this.p8">
                                                </mat-radio-button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(3)">Regresar</button>
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(5)">Continuar</button>
                        </div>

                        <!-- Form 6   triage full - 3 -->
                        <div class="container-triage" *ngIf="form5">
                            <div class="header-triage mb-5 mt-4">
                                <div class="form-group mb-4 row">
                                    <div class="col-7 mx-auto">
                                        <div class="test " style="text-align:center">
                                            <h3 class="title-header">
                                                {{ this.t_full_headers[2] }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="form body-triage">
                                <table class="triage-full-struct">
                                    <tr>
                                        <th></th>
                                        <th class="title-rb">Acuerdo</th>
                                        <th class="title-rb">Parcialmente Desacuerdo</th>
                                        <th class="title-rb">Totalmente Desacuerdo</th>
                                    </tr>
                                    <tr class="row-table">
                                        <td class="pregunta">
                                            <p> {{this.tf_prg_sctn_1[2][0].nombre}} </p>
                                        </td>
                                        <td>
                                            <mat-radio-button value="1" name="p9" ngDefaultControl [(ngModel)]="this.p9">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="2" name="p9" ngDefaultControl [(ngModel)]="this.p9">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="3" name="p9" ngDefaultControl [(ngModel)]="this.p9">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                    <tr class="row-table">
                                        <td class="pregunta">
                                            <p>{{this.tf_prg_sctn_1[2][1].nombre}}</p>
                                        </td>
                                        <td>
                                            <mat-radio-button value="1" name="p10" ngDefaultControl [(ngModel)]="this.p10">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="2" name="p10" ngDefaultControl [(ngModel)]="this.p10">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="3" name="p10" ngDefaultControl [(ngModel)]="this.p10">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                    <tr class="row-table">
                                        <td class="pregunta">
                                            <p> {{this.tf_prg_sctn_1[2][2].nombre}} </p>
                                        </td>
                                        <td>
                                            <mat-radio-button value="1" name="p11" ngDefaultControl [(ngModel)]="this.p11">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="2" name="p11" ngDefaultControl [(ngModel)]="this.p11">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="3" name="p11" ngDefaultControl [(ngModel)]="this.p11">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                    <tr class="row-table">
                                        <td class="pregunta">
                                            <p> {{this.tf_prg_sctn_1[2][3].nombre}} </p>
                                        </td>
                                        <td>
                                            <mat-radio-button value="1" name="p12" ngDefaultControl [(ngModel)]="this.p12">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="2" name="p12" ngDefaultControl [(ngModel)]="this.p12">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="3" name="p12" ngDefaultControl [(ngModel)]="this.p12">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                </table>
                            </form>

                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(4)">Regresar</button>
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(6)">Continuar</button>
                        </div>

                        <!-- Form 7   triage full - 4 -->
                        <div class="" *ngIf="form6">
                            <div class="header-triage mb-5 mt-4">
                                <div class="form-group mb-4 row">
                                    <div class="col-7 mx-auto">
                                        <div class="test " style="text-align:center">
                                            <h3 class="title-header">
                                                {{ this.t_full_headers[3] }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="form body-triage">
                                <table class="triage-full-struct">
                                    <tr>
                                        <th></th>
                                        <th class="title-rb">Acuerdo</th>
                                        <th class="title-rb">Parcialmente Desacuerdo</th>
                                        <th class="title-rb">Totalmente Desacuerdo</th>
                                    </tr>
                                    <tr class="row-table">
                                        <td class="pregunta">
                                            <p> {{this.tf_prg_sctn_1[3][0].nombre}} </p>
                                        </td>
                                        <td>
                                            <mat-radio-button value="1" name="p13" ngDefaultControl [(ngModel)]="this.p13">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="2" name="p13" ngDefaultControl [(ngModel)]="this.p13">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="3" name="p13" ngDefaultControl [(ngModel)]="this.p13">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                    <tr class="row-table">
                                        <td class="pregunta">
                                            <p> {{this.tf_prg_sctn_1[3][1].nombre}} </p>
                                        </td>
                                        <td>
                                            <mat-radio-button value="1" name="p14" ngDefaultControl [(ngModel)]="this.p14">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="2" name="p14" ngDefaultControl [(ngModel)]="this.p14">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="3" name="p14" ngDefaultControl [(ngModel)]="this.p14">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                    <tr class="row-table">
                                        <td class="pregunta">
                                            <p> {{this.tf_prg_sctn_1[3][2].nombre}} </p>
                                        </td>
                                        <td>
                                            <mat-radio-button value="1" name="p15" ngDefaultControl [(ngModel)]="this.p15">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="2" name="p15" ngDefaultControl [(ngModel)]="this.p15">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="3" name="p15" ngDefaultControl [(ngModel)]="this.p15">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                    <tr class="row-table">
                                        <td class="pregunta">
                                            <p> {{this.tf_prg_sctn_1[3][3].nombre}} </p>
                                        </td>
                                        <td>
                                            <mat-radio-button value="1" name="p16" ngDefaultControl [(ngModel)]="this.p16">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="2" name="p16" ngDefaultControl [(ngModel)]="this.p16">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="3" name="p16" ngDefaultControl [(ngModel)]="this.p16">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                </table>
                            </form>

                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(5)">Regresar</button>
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(7)">Continuar</button>
                        </div>

                        <!-- Form 8   triage full - 5 -->
                        <div class="" *ngIf="form7">
                            <div class="header-triage mb-5 mt-4">
                                <div class="form-group mb-4 row">
                                    <div class="col-7 mx-auto">
                                        <div class="test " style="text-align:center">
                                            <h3 class="title-header">
                                                {{ this.t_full_headers[4] }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="form body-triage">
                                <table class="triage-full-struct">
                                    <tr>
                                        <th></th>
                                        <th class="title-rb">Acuerdo</th>
                                        <th class="title-rb">Parcialmente Desacuerdo</th>
                                        <th class="title-rb">Totalmente Desacuerdo</th>
                                    </tr>
                                    <tr class="row-table">
                                        <td class="pregunta">
                                            <p> Las dificultades en mi hogar, trabajo y/o estudio me hacen sentir que estoy en una sin salida!!! </p>
                                        </td>
                                        <td>
                                            <mat-radio-button value="1" name="p17" ngDefaultControl [(ngModel)]="this.p17">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="2" name="p17" ngDefaultControl [(ngModel)]="this.p17">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="3" name="p17" ngDefaultControl [(ngModel)]="this.p17">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                    <tr class="row-table">
                                        <td class="pregunta">
                                            <p> Las situaciones en mi hogar, trabajo y/o estudio son un problema, que son mi responsabilidad y no sé qué hacer!!! </p>
                                        </td>
                                        <td>
                                            <mat-radio-button value="1" name="p18" ngDefaultControl [(ngModel)]="this.p18">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="2" name="p18" ngDefaultControl [(ngModel)]="this.p18">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="3" name="p18" ngDefaultControl [(ngModel)]="this.p18">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                    <tr class="row-table">
                                        <td class="pregunta">
                                            <p> Identifico las complicaciones en mi hogar, trabajo y/o estudio, pero evito pensar en ellas!!! </p>
                                        </td>
                                        <td>
                                            <mat-radio-button value="1" name="p19" ngDefaultControl [(ngModel)]="this.p19">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="2" name="p19" ngDefaultControl [(ngModel)]="this.p19">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="3" name="p19" ngDefaultControl [(ngModel)]="this.p19">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                    <tr class="row-table">
                                        <td class="pregunta">
                                            <p> He intentado tantas opciones para mejorar mis problemas en mi hogar, trabajo y/o estudio que perdí la esperanza de obtener una solución!!! </p>
                                        </td>
                                        <td>
                                            <mat-radio-button value="1" name="p20" ngDefaultControl [(ngModel)]="this.p20">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="2" name="p20" ngDefaultControl [(ngModel)]="this.p20">
                                            </mat-radio-button>
                                        </td>
                                        <td>
                                            <mat-radio-button value="3" name="p20" ngDefaultControl [(ngModel)]="this.p20">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                </table>
                            </form>

                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(6)">Regresar</button>
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="resultTriageFull()">Finalizar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{titleModal}}, {{puntaje}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
            </div>
            <div class="modal-body modal-body-appodium text-message">
                {{messageResult}}
            </div>
            <div class="modal-body modal-body-appodium text-message" *ngIf="steps">
                <label> Pasos A seguir</label>
                <p>1. Solicita una cita</p>
                <p>2. No olvides hacer el trámite y la confirmación</p>
                <p>3. Espera la llamada de tu Especialista tratante</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" *ngIf="complete" (click)="validateLogin()">Continuar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pasarela pago -->
<div class="modal fade" id="modalPayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddModalPayent></button>
            </div>
            <div class="modal-body modal-body-pay">
                <div class=" row " style="display:inline-block">
                    <div class="col-12 justify-content-center ">
                        <div class="col-4  justify-content-center m-4" style="display:inline-block">
                            <img src="assets/img/icons/descarga.jpg" class="image-pay" alt="">
                        </div>
                        <div class="col-4 justify-content-center m-5" style="display:inline-block">
                            <img src="assets/img/icons/credit-card.jpg" class="image-pay-2">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>

                <button type="button" class="btn btn-primary" (click)="validatePayment()" *ngIf="!completeTriageFull">Continuar</button>
                <button type="button" class="btn btn-primary" (click)="validatePaymentOfert()" *ngIf="completeTriageFull"> Continuar</button>
            </div>
        </div>
    </div>
</div>