<main class="bg-light">

    <div class="page-section-register" style="min-height: 900px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card-page-auth">

                        <div class="login-form text-center px-7  pt-1 pb-5 position-relative overflow-hidden">
                            <div class="mb-3">
                                <img src="assets/img/head-apodium.svg" width="120px" alt="logo, logo-appodium, appodium ">
                                <h3 style="color: #6132B5;">Bienvenido a Appodium</h3>
                                <div class="text-muted font-weight-bold" style="font-size: 1rem; padding-top: 15px;">
                                    Completa el formulario para crear tu cuenta:</div>
                                <br>
                            </div>
                            <div class="login-signin">
                                <form id="kt_login_signin_form" class="form form-auth ng-untouched ng-pristine ng-valid" [formGroup]="RegisterForm">
                                    <div class="form-group mb-5">
                                        <input type="text" placeholder="Email" name="username" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="email" (change)="isDeclaracionValidate()">
                                        <div *ngIf="correoNoValido" class="mt-1 invalid-message" style="text-align: left; padding-left: 5px; font-size: 0.8rem; color: #6a32b5;">
                                            Debe ingresar un correo valido
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="password" placeholder="Password" name="password" class="form-control h-auto form-control-solid  form-appodium  mx-auto py-4 " formControlName="password" (change)="isDeclaracionValidate(); ">
                                        <div *ngIf="!RegisterForm.get('password')?.valid && RegisterForm.get('password')?.touched" class="mt-1 invalid-message" style="text-align: left; padding-left: 5px; font-size: 0.8rem; color: #6a32b5;">
                                            Debe incluir una mayúscula, un número, un carácter especial<br> y tener mínimo 8 caracteres.
                                        </div>
                                        <small class="invalid-message" *ngIf="getPassRequired('password')?.errors?.required && getPassRequired('password').touched" style="text-align: left;font-size: 0.8rem; color: #6a32b5; margin-left: -45%"> Campo requerido
                                        </small>
                                    </div>
                                    <input type="checkbox" class="example-margin" formControlName="authorizationData" (change)="isDeclaracionValidate()">
                                    <a (click)="habeasData()">
                                        <small>
                                            Autorizo el tratamiento de datos personales.
                                        </small>
                                    </a>
                                    <!-- <form class="example-form mx-auto px-0" [formGroup]="formDataAuthorization">
                                        <mat-checkbox class="example-margin" formControlName="authorizationData" [disabled]="approved" (change)="isDeclaracionValidate()"> Autorizo el tratamiento de datos personales.</mat-checkbox>
                                    </form> -->
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="código Otp" name="otp" class="form-control form-appodium h-auto form-control-solid mx-auto py-4" formControlName="otp" *ngIf="isOtp">
                                    </div>

                                    <div>
                                        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="consultUser()" *ngIf="!isOtp" >Registrar</button>
                                        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="validateRegister()" *ngIf="isOtp">Ingresar</button>
                                        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="goBack()">Regresar</button>
                                        <!-- <a routerLink="..">
                                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="goBack()">Regresar</button>
                                        </a> -->
                                    </div>

                                </form>
                                <div class="mt-10">
                                    <span class="opacity-70"></span>
                                    <a [routerLink]="['/login']" class="text-muted text-hover-primary font-weight-bold" style="text-decoration: none; color: #554092 !important">¡Ingresa!</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</main>
<!-- .bg-light -->

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
            </div>
            <div class="modal-body modal-body-appodium" style="text-align:center">
                {{messageResult}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>