body {
    background-color: #f0eef5;
}

.question {
    max-width: 390px;
}

.card-page {
    position: relative;
    padding: 20px;
    background-color: #fff;
    color: #6b6872;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(95, 90, 104, 0.12);
}

.card-mobile {
    background-color: #f0eef5;
}

:host /deep/ .mat-radio-label {
    flex-direction: column-reverse;
}

:host /deep/ .mat-radio-label-content {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 0px;
    padding-right: 0;
}

.image-pay {
    width: 100px;
}

.image-pay-2 {
    width: 57px;
}

.btn {
    padding: 10px 15px;
    border-width: 2px;
}

.modal-header {
    background-color: #12908c;
}

.modal-title {
    color: #fff;
}

.head-appodium {
    display: flex;
    justify-content: center;
}

.page-triage {
    min-height: 595px;
}


/* ------------- */

* Navbar */ .navbar-floating {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.navbar-nav .nav-link {
    font-weight: 500;
}

.navbar-brand {
    margin-top: -145px;
}

.btn-primary {
    color: #fff;
    background-color: #554092;
    border-color: #554092;
}

@media(max-width:992px) {
    .navbar-brand img {
        max-width: 300px;
    }
    .card-page-auth {
        position: relative;
        padding: 20px;
        background-color: transparent;
        color: #6a32b5;
        border-radius: 4px;
        box-shadow: none;
    }
    .login-form {
        padding-right: .5rem!important;
        padding-left: .5rem!important;
    }
}

.navbar-brand {
    margin-top: -145px;
}


/* Breadcrumb */

.breadcrumb {
    background-color: #F0EEF5;
}

.breadcrumb-item {
    font-size: 16px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\2022";
    color: var(--primary);
}

.breadcrumb-item a {
    color: #00BDB8;
}

.breadcrumb-item.active {
    color: var(--primary);
}

.breadcrumb-dark {
    background-color: #383340;
}

.breadcrumb-dark .breadcrumb-item+.breadcrumb-item::before {
    color: #00BDB8;
    font-size: 1.1rem;
}

.breadcrumb-dark .breadcrumb-item a {
    color: #00BDB8;
    text-decoration: none;
    font-size: 1.1rem;
}

.breadcrumb-dark .breadcrumb-item a:hover {
    color: #E6D7FA;
}

.breadcrumb-dark .breadcrumb-item.active {
    color: #fff;
}

.navbar-collapse {
    flex-grow: 1;
    justify-content: center;
}

.form-appodium {
    border-bottom: 1px solid #554092;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control.form-control-solid {
    color: #3F4254;
    width: 350px;
    height: 25px !important;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

@media(max-width:991px) {
    .form-control.form-control-solid {
        color: #3F4254;
        width: 260px;
        height: 25px !important;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    }
}

.text-muted {
    color: #B5B5C3;
}

.recovery-pass-label {
    font-size: 0.85rem;
}

.recovery-pass-label a:hover {
    color: #6132B5 !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg.navbar-floating {
        top: 35px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 16px;
        padding-right: 16px;
    }
    .navbar-expand-lg.navbar-floating.navbar-dark {
        background-color: transparent;
        box-shadow: none;
    }
}

@media(max-width:425px) {
    .test {
        text-align: justify;
        color: #2BB5B3;
        padding: 0;
    }
}

@media(min-width:426px) {
    .test {
        text-align: justify;
        color: #2BB5B3;
        padding: 0 45px;
    }
}

.option-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}