<div class="page-section page-triage bg-gris pt-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card-page mt-3" *ngIf="triageLight1">

                    <div class="">
                        <!-- INSTRUCCIONES TRIAGE LIGTH -->
                        <div class="mb-4 px-2" *ngIf="triageLight1" style="text-align: center;">
                            <div class="col-12">
                                <div class="test " style="text-align:initial">
                                    <p class="text-justiyfy">
                                        Escoge la respuesta de acuerdo a como te hayas sentido EN EL ÚLTIMO MES Tienes 3 alternativas de respuesta:
                                    </p>
                                    <div class="">
                                        <p><b>A:</b> Acuerdo </p>
                                        <p><b>PA:</b> Parcialmente de acuerdo</p>
                                        <p><b>D:</b> Desacuerdo </p>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(2)"> Continuar</button>
                        </div>
                    </div>

                </div>

                <div *ngIf="triageLight2" style="text-align: center;">
                    <div>
                        <!-- Form 2 -- Triageligth -->
                        <div class="">
                            <!-- Contenedor css-grid  -->
                            <div class="container-triage">
                                <div class="header-triage mb-4 mt-4">
                                    <div class="form-group mb-4 row">
                                        <div class="col-12">

                                            <div class="test " style="text-align:center; color:#2BB5B3">
                                                <h4>
                                                    Se vale perderse en el camino… <br> Se vale pedir ayuda…
                                                </h4>
                                                <p class="mt-4">{{ headerT_light }} </p>
                                                <div class="" style="color:#2BB5B3; text-align: left; margin-left: 23px">
                                                    <p><b>A:</b> Acuerdo </p>
                                                    <p><b>PD:</b> Parcialmente Desacuerdo</p>
                                                    <p><b>TD:</b> Totalmente Desacuerdo </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="form body-triage">
                                    <div class="card-page">
                                        <div class="row col-sm-12">
                                            <div class="col-sm-5 question">
                                                <h6 class="text-justiyfy"> {{ tl_prg[0].nombre }} </h6>
                                            </div>

                                            <div class="col-sm-7" style="margin-top:25px">
                                                <div class="col-12 radio-buttons">
                                                    <mat-radio-group name="q1" [(ngModel)]="this.tl1">
                                                        <mat-radio-button value="3" class="col-4">
                                                            <span style="white-space: normal;">A</span>
                                                        </mat-radio-button>
                                                        <mat-radio-button value="2" class="col-4">
                                                            <span style="white-space: normal;">PD</span>
                                                        </mat-radio-button>
                                                        <mat-radio-button value="1" class="col-4">
                                                            <span style="white-space: normal;">TD</span>
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="card-page" style="margin-top: 20px;">
                                        <div class="row col-sm-12">
                                            <div class="col-sm-5 question">
                                                <h6 class="text-justiyfy">{{ tl_prg[1].nombre }} </h6>
                                            </div>

                                            <div class="col-sm-7" style="margin-top:25px">
                                                <div class="col-12 radio-buttons">
                                                    <mat-radio-group name="q2" [(ngModel)]="this.tl2">
                                                        <mat-radio-button value="3" class="col-4">
                                                            <span style="white-space: normal;">A</span>
                                                        </mat-radio-button>
                                                        <mat-radio-button value="2" class="col-4">
                                                            <span style="white-space: normal;">PD</span>
                                                        </mat-radio-button>
                                                        <mat-radio-button value="1" class="col-4">
                                                            <span style="white-space: normal;">TD</span>
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="card-page" style="margin-top: 20px;">
                                        <div class="row col-sm-12">
                                            <div class="col-sm-5 question">
                                                <h6 class="text-justiyfy"> {{ tl_prg[2].nombre }} </h6>
                                            </div>

                                            <div class="col-sm-7" style="margin-top:25px">
                                                <div class="col-12 radio-buttons">
                                                    <mat-radio-group name="q3" [(ngModel)]="this.tl3">
                                                        <mat-radio-button value="3" class="col-4">
                                                            <span style="white-space: normal;">A</span>
                                                        </mat-radio-button>
                                                        <mat-radio-button value="2" class="col-4">
                                                            <span style="white-space: normal;">PD</span>
                                                        </mat-radio-button>
                                                        <mat-radio-button value="1" class="col-4">
                                                            <span style="white-space: normal;">TD</span>
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="card-page" style="margin-top: 20px;">
                                        <div class="row col-sm-12">
                                            <div class="col-sm-5 question">
                                                <h6 class="text-justiyfy"> {{ tl_prg[3].nombre }} </h6>
                                            </div>

                                            <div class="col-sm-7" style="margin-top:25px">
                                                <div class="col-12 radio-buttons">
                                                    <mat-radio-group name="q4" [(ngModel)]="this.tl4">
                                                        <mat-radio-button value="3" class="col-4">
                                                            <span style="white-space: normal;">A</span>
                                                        </mat-radio-button>
                                                        <mat-radio-button value="2" class="col-4">
                                                            <span style="white-space: normal;">PD</span>
                                                        </mat-radio-button>
                                                        <mat-radio-button value="1" class="col-4">
                                                            <span style="white-space: normal;">TD</span>
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="card-page" style="margin-top: 20px;">
                                        <div class="row col-sm-12">
                                            <div class="col-sm-5 question">
                                                <h6 class="text-justiyfy"> {{ tl_prg[4].nombre }} </h6>
                                            </div>

                                            <div class="col-sm-7" style="margin-top:25px">
                                                <div class="col-12 radio-buttons">
                                                    <mat-radio-group name="q5" [(ngModel)]="this.tl5">
                                                        <mat-radio-button value="3" class="col-4">
                                                            <span style="white-space: normal;">A</span>
                                                        </mat-radio-button>
                                                        <mat-radio-button value="2" class="col-4">
                                                            <span style="white-space: normal;">PD</span>
                                                        </mat-radio-button>
                                                        <mat-radio-button value="1" class="col-4">
                                                            <span style="white-space: normal;">TD</span>
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="resultTriage()">Finalizar
                            </button>
                        </div>
                    </div>
                </div>

                <div *ngIf="form3" style="text-align: center;">
                    <div class="container mt-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="card-page" style=" text-align: center; ">
                                    <div class="container-triage ">
                                        <div class="header-triage mb-4 mt-4 ">
                                            <div class="form-group mb-4 row ">
                                                <div class="col-12 ">
                                                    <div class="test" style="text-align:justify; color:#2BB5B3 ">
                                                        <h3>
                                                            Puntaje: {{puntaje}}. {{titleModal}}
                                                        </h3>

                                                        <p class="text-justiyfy"> {{messageResult}}</p>
                                                        <p class="text-justiyfy"> {{messageResultStep2}}</p>
                                                        <div class="modal-body modal-body-appodium text-message mx-auto ">
                                                            <h4 style="color:#554092"> Pasos a seguir</h4>
                                                            <p class="text-justiyfy"><span>1. Realiza el tramite administrativo, realiza el pago para brindarte la ayuda que necesitas </span> </p>
                                                            <p class="text-justiyfy"><span>2. Elige la ruta de atención: </span> </p>
                                                            <ul>
                                                                <li style="color:#000">Continuar Triage completo: proceso de exploración y clasificación de síntomas</li>
                                                                <li style="color:#000">Agendar directamente una cita</li>
                                                            </ul>
                                                            <p class="text-justiyfy"><span>3. Inicio del contacto con el profesional de Psicologia</span> </p>
                                                        </div>


                                                    </div>
                                                    <div class=" ">
                                                        <div class="justify-content-center ">
                                                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" *ngIf="!this.noAuth " [routerLink]="['/register']">Continuar</button>
                                                            <button type="button " class="btn btn-primary " *ngIf="this.noAuth " (click)="navigateToTriagefull() ">Continuar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade " id="myModal " tabindex="-1 " aria-labelledby="exampleModalLabel " aria-hidden="true ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLabel ">puntaje: {{puntaje}}. {{titleModal}} , </h5>
                <button type="button " class="btn-close " data-bs-dismiss="modal" aria-label="Close " #closeAddExpenseModal></button>
            </div>
            <div class="modal-body modal-body-appodium " *ngIf="!step2 ">
                {{messageResult}}
            </div>
            <div class="modal-body modal-body-appodium ">
                {{messageResultStep2}}
            </div>
            <div class="modal-body modal-body-appodium text-message mx-auto " *ngIf="steps ">
                <label> Pasos a seguir</label>
                <p><span>1. Realiza el tramite administrativo, realiza el pago para brindarte la ayuda que necesitas </span> </p>
                <p><span>2. Elige la ruta de atención: </span> </p>
                <ul>
                    <li>Continuar Triage completo: proceso de exploración y clasificación de síntomas</li>
                    <li>Agendar directamente una cita</li>
                </ul>
                <p><span>3. Inicio del contacto con el profesional de Psicologia</span> </p>
            </div>
            <div>
                <div class="modal-body modal-body-appodium ">
                    {{messageResultNoAuth}}
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-primary " *ngIf="this.noAuth " (click)="navigateToLogin() ">Ingresar</button>
                <button type="button " class="btn btn-primary " data-bs-dismiss="modal ">Cerrar</button>
                <button type="button " class="btn btn-primary " *ngIf="step2 && !this.noAuth " (click)="navigateToTriagefull() ">Continuar</button>
                <button type="button " class="btn btn-primary " *ngIf="complete && !step2 " (click)="step2Modal(); validateLogin() ">Continuar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  option auth-->
<div class="modal fade " id="modalSelectAuth " tabindex="-1 " aria-labelledby="exampleModalLabel " aria-hidden="true ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLabel ">{{titleModal}} </h5>
                <button type="button " class="btn-close " data-bs-dismiss="modal " aria-label="Close " #closeAddModalSelectAuth></button>
            </div>
            <div class="modal-body modal-body-appodium ">
                {{messageResult}}
            </div>

            <div class="mb-4 " style="text-align: center;justify-content: center; display: flex; ">
                <button type="button " class="btn btn-primary " *ngIf="this.noAuth " (click)="setTypeAuth( 'login') ">Ingresar</button>
                <button type="button " class="btn btn-primary mx-4 " *ngIf="this.noAuth " (click)="setTypeAuth( 'register') ">Registrarse</button>
            </div>

            <div class="modal-footer ">
                <button type="button " class="btn btn-primary " data-bs-dismiss="modal ">Cerrar</button>
                <button type="button " class="btn btn-primary " *ngIf="complete && !this.noAuth " (click)="validateLogin() ">Continuar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  generico -->
<div class="modal fade " id="myModalGeneric " tabindex="-1 " aria-labelledby="exampleModalLabel " aria-hidden="true ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLabel "> puntaje:{{puntaje}}. {{titleModal}}</h5>
                <button type="button " class="btn-close " data-bs-dismiss="modal " aria-label="Close " #closeAddExpenseModal></button>
            </div>
            <div class="modal-body modal-body-appodium ">
                {{messageResult}}
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-primary " data-bs-dismiss="modal ">Cerrar</button>
                <button type="button " class="btn btn-primary " *ngIf="complete " (click)="validateLogin() ">Continuar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pasarela pago -->
<div class="modal fade " id="modalPayment " tabindex="-1 " aria-labelledby="exampleModalLabel " aria-hidden="true ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLabel ">Información</h5>
                <button type="button " class="btn-close " data-bs-dismiss="modal " aria-label="Close " #closeAddModalPayent></button>
            </div>
            <div class="modal-body modal-body-pay ">
                <div class=" row " style="display:inline-block ">
                    <div class="col-12 justify-content-center ">
                        <div class="col-4 justify-content-center m-4 " style="display:inline-block ">
                            <img src="assets/img/icons/descarga.jpg " class="image-pay " alt=" ">
                        </div>
                        <div class="col-4 justify-content-center m-5 " style="display:inline-block ">
                            <img src="assets/img/icons/credit-card.jpg " class="image-pay-2 ">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-primary " data-bs-dismiss="modal ">Cerrar</button>
                <button type="button " class="btn btn-primary " (click)="validatePayment() " *ngIf="!completeTriageFull ">Continuar</button>
                <button type="button " class="btn btn-primary " (click)="validatePaymentOfert() " *ngIf="completeTriageFull "> Continuar</button>
            </div>
        </div>
    </div>
</div>