::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #2BB5B3 !important;
    /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #2BB5B3 !important;
    /*outer ring color change*/
}

::ng-deep .mat-radio-outer-circle {
    border-color: #5e35b0;
}

.bg-light {
    background-color: #f0eef5;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #614af7;
    box-shadow: 0 4px 12px rgba(162, 122, 216, 0.3);
}

.hero-caption {
    padding-top: 63px;
}

@media(min-width:992px) {
    .img-triage {
        min-width: 450px;
    }
}

@media(max-width: 991px) {
    .img-triage {
        min-width: 260px;
    }
}

.card-mobile {
    background-color: #f0eef5;
}

@media(max-width:410px) {
    .card-mobile {
        margin-top: 70px;
    }
}

@media(min-width:411px) and (max-width:767px) {
    .card-mobile {
        margin-top: 111px;
    }
}

@media(min-width:768px) and (max-width:992px) {
    .card-mobile {
        margin-top: 202px;
    }
}

@media(min-width:993px) {
    .card-mobile {
        margin-top: 155px;
    }
}


/* custom design appodium */

@media (max-width:320px) {
    .servicio-banner {
        min-height: 170px;
    }
    .page-banner {
        position: relative;
        height: 160px;
    }
    .appodium-services {
        min-width: 200px;
        margin-top: 32px
    }
}

@media (min-width:321px) and (max-width:375px) {
    .servicio-banner {
        min-height: 200px;
    }
    .page-banner {
        position: relative;
        height: 160px;
    }
    .appodium-services {
        min-width: 200px;
        margin-top: 32px
    }
}

@media (min-width:376px) and (max-width:425px) {
    .servicio-banner {
        min-height: 240px;
    }
    .page-banner {
        position: relative;
        height: 240px;
    }
    .appodium-services {
        min-width: 200px;
        margin-top: 55px
    }
}

@media (min-width:426px) and (max-width:768px) {
    .servicio-banner {
        min-height: 465px;
    }
    .appodium-services {
        min-width: 200px;
        max-width: 420px;
        margin-top: 107px
    }
}

@media (min-width:768px) {
    .servicio-banner {
        min-height: 500px;
        max-height: 523px;
    }
    .appodium-services {
        min-width: 200px;
        max-width: 420px;
        margin-top: 107px
    }
}

.hero-carousel-services .img-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0 16px;
    width: auto;
    height: 100%;
    text-align: center;
    color: #fff;
    margin-top: 5%;
}

.img-triage img {
    max-height: 800px;
}

.head-appodium {
    justify-content: center;
    display: flex;
    margin-top: 95px;
    background-color: #efefef;
}