<app-spinner></app-spinner>
<app-header class="header-appodium" id="banner"> </app-header>

<main class="bg-light">

    <div class="head-appodium">
        <img src="assets/img/head-apodium.svg" width="150px" alt="logo, logo-appodium, appodium">
    </div>
    <app-test-mobile class="card-mobile mt-4"> </app-test-mobile>
</main>