<main class="bg-light">


    <div class="page-section pt-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card-page-auth">
                        <div class="login-form text-center px-7 pt-1 pb-5 position-relative overflow-hidden">

                            <div class="login-signin">
                                <div class="mb-5">
                                    <img src="assets/img/head-apodium.svg" width="120px" alt="logo, logo-appodium, appodium ">
                                    <h3 style="color: #6132B5;">Gracias por su interés en Appodium</h3>
                                    <div class="text-muted font-weight-bold" style="font-size: 1rem; padding-top: 15px;">por favor complete el siguiente formulario y díganos cómo podemos ayudarle a través de nuestros servicios.</div>
                                </div>

                                <form class="form form-auth ng-untouched ng-pristine ng-valid form-auth" [formGroup]="contactForm">
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="Nombre" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" required formControlName="name">
                                        <br>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="Email" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" required formControlName="email">
                                        <div *ngIf="(contactForm.get('email').invalid && contactForm.get('email').touched) || contactForm.get('email').dirty" class="mt-1 invalid-message" style="color: #6a32b5;">
                                            <small style="font-size: 0.8rem;" *ngIf="contactForm.get('email').errors?.required">Debe ingresar un correo valido</small>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="form-group mb-3">
                                        <textarea class="textarea-appodium" placeholder="Comentario" name="subject" rows="4" formControlName="subject">
                                        </textarea>
                                    </div>

                                </form>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="sendMessage()">Enviar</button>
                                <div class="mt-10">
                                    <span class="opacity-70"></span>
                                    <a [routerLink]="['/home']" class="text-muted text-hover-primary font-weight-bold" style="text-decoration: none; color: #554092 !important">Inicio</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</main>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
            </div>
            <div class="modal-body modal-body-appodium" style="text-align:center">
                {{messageResult}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModalSuccess (click)="redirectHome()"></button>
            </div>
            <div class="modal-body modal-body-appodium" style="text-align:center">
                {{messageResult}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="redirectHome()">Aceptar</button>
            </div>
        </div>
    </div>
</div>