<main class="bg-light">

    <div class="page-hero-section bg-image hero-mini" style="background-image: url(assets/img/hero_mini.svg);">
        <div class="hero-caption">
            <div class="container fg-white h-100">
                <div class="row justify-content-center align-items-center text-center h-100">
                    <div class="col-lg-6">
                        <a class="navbar-brand">
                            <img src="assets/img/appodium-bn.png" alt="" width="450">
                        </a>
                        <h3 class="mt-5 mb-4 title-registro fw-medium">Perfil</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-dark justify-content-center bg-transparent">
                                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="/triage"> <a [routerLink]="['/triage']">triage</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section pt-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card-page-auth">
                        <div class="login-form text-center px-7 pt-1 pb-5 position-relative overflow-hidden">
                            <div class="d-flex flex-center mb-15">
                                <a href="#"><img src="assets/media/logos/appodium.png" alt="" class="max-h-75px"></a>
                            </div>
                            <div class="login-signin">
                                <div class="mb-5">
                                    <img src="assets/img/head-apodium.svg" width="120px" alt="logo, logo-appodium, appodium ">
                                    <div class="text-muted font-weight-bold" style="font-size: 1.1rem; padding-top: 18px;">Formulario para actualizar tu cuenta:</div>
                                </div>

                                <form class="form  form-auth ng-untouched ng-pristine ng-valid form-auth" [formGroup]="PerfilForm">
                                    <div class="form-group mb-4">
                                        <input type="text" placeholder="Tipo Documento" autocomplete="off" class="form-control form-control-solid py-4 px-4" required formControlName="tipoDocumento">
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" placeholder="Documento" autocomplete="off" class="form-control form-control-solid py-4 px-4" required formControlName="documento">
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="Nombre" name="nombre" class="form-control h-auto form-control-solid py-4 px-4" formControlName="nombre">
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="Apellido" name="apellido" class="form-control h-auto form-control-solid py-4 px-4" formControlName="apellido">
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="Telefono" name="telefono" class="form-control h-auto form-control-solid py-4 px-4" formControlName="telefono">
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="Fecha Nacimiento" name="fechanac" class="form-control h-auto form-control-solid py-4 px-4" formControlName="fechanac">
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="lugar  Nacimiento" name="lugarnac" class="form-control h-auto form-control-solid py-4 px-4" formControlName="lugarnac">
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="Escolaridad" name="escolaridad" class="form-control h-auto form-control-solid py-4 px-4" formControlName="escolaridad">
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="Ocupación" name="ocupacion" class="form-control h-auto form-control-solid py-4 px-4" formControlName="ocupacion">
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="Ciudad" name="ciudad" class="form-control h-auto form-control-solid py-4 px-4" formControlName="ciudad">
                                    </div>

                                </form>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="updateDataUser()">Actualizar</button>
                                <div class="mt-10">
                                    <span class="opacity-70 mr-4"></span>
                                    <a [routerLink]="['/cambio-clave']" class="text-muted text-hover-primary font-weight-bold">Cambiar contraseña</a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</main>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
            </div>

            <div class="modal-body modal-body-appodium" style="text-align:center">
                {{messageResult}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>