/* Navbar */

.navbar-floating {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.navbar-nav .nav-link {
    font-weight: 500;
}

.navbar-brand {
    margin-top: -145px;
}

@media(max-width:992px) {
    .navbar-brand img {
        max-width: 300px;
    }
    .card-page-auth {
        position: relative;
        padding: 20px;
        background-color: transparent;
        color: #6a32b5;
        border-radius: 4px;
        box-shadow: none;
    }
    .login-form {
        padding-right: .5rem!important;
        padding-left: .5rem!important;
    }
}

.navbar-brand {
    margin-top: -145px;
}


/* Breadcrumb */

.breadcrumb {
    background-color: #F0EEF5;
}

.breadcrumb-item {
    font-size: 16px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\2022";
    color: var(--primary);
}

.breadcrumb-item a {
    color: #00BDB8;
}

.breadcrumb-item.active {
    color: var(--primary);
}

.breadcrumb-dark {
    background-color: #383340;
}

.breadcrumb-dark .breadcrumb-item+.breadcrumb-item::before {
    color: #00BDB8;
    font-size: 1.1rem;
}

.breadcrumb-dark .breadcrumb-item a {
    color: #00BDB8;
    text-decoration: none;
    font-size: 1.1rem;
}

.breadcrumb-dark .breadcrumb-item a:hover {
    color: #E6D7FA;
}

.breadcrumb-dark .breadcrumb-item.active {
    color: #fff;
}

.navbar-collapse {
    flex-grow: 1;
    justify-content: center;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #E4E6EF;
    border-radius: 0.42rem;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control.form-control-solid {
    background-color: #F3F6F9;
    border-color: #F3F6F9;
    color: #3F4254;
    width: 500px;
    height: 25px !important;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

@media(max-width:991px) {
    .form-control.form-control-solid {
        background-color: #F3F6F9;
        border-color: #F3F6F9;
        color: #3F4254;
        width: 260px;
        height: 25px !important;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    }
}

.text-muted {
    color: #B5B5C3;
}

.recovery-pass-label {
    font-size: 0.85rem;
}

.recovery-pass-label a:hover {
    color: #6132B5 !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg.navbar-floating {
        top: 35px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 16px;
        padding-right: 16px;
    }
    .navbar-expand-lg.navbar-floating.navbar-dark {
        background-color: transparent;
        box-shadow: none;
    }
}