.cont-doctor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (min-width:769px) {
    .cont-doctor {
        flex-direction: row;
    }
}

.margin-no-login{
    margin-top: 105px;
}

@media(min-width:768px){
    .page-footer-section {
        padding: 25px;
        height:  200px;
    }

    .footer-mt{
        padding: 25px;
        height:  200px;
        margin-top: 167px;
    }
}

@media(max-width:767px){
    .page-footer-section {
        padding: 25px;
        height: 280px;
    }
}

.description-psicolog {
    padding: 0 40px;
    text-align: justify;
}

@media(min-width:1200px){
    .card-andrea{
        padding-bottom: 72px;
    }
}
@media(max-width:1199px){
    .card-andrea{
        padding-bottom: 53px;
    }
}