<app-header class="header-appodium" id="banner"> </app-header>
<!-- bienvenida- -->

<section *ngIf="!doctorSelected && !isLogged">
    <div class="container team-appodium">
        <div class="mb-5 head-appodium" style="text-align: center; margin-top:133px">
            <img src="assets/img/head-apodium.svg" width="150px" alt="logo, logo-appodium, appodium">
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-12">
                <div class="row justify-content-center" style="text-align: center">
                    <div class="iconic-content  description-team">
                        <p>Gracias por elegir <span class="fg-primary"> Appodium </span>.</p>
                        <p>
                           Por favor 
                           <a [routerLink]="['/login']"> <span class="fg-secondary"> ingresa </span></a>
                            con tu cuenta o
                            <a [routerLink]="['/register']"> <span class="fg-secondary"> registrate </span></a> 
                            para poder agendar una cita con nosotros.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="!doctorSelected && isLogged">
    <div class="container team-appodium">
        <h2 class="section-header text-center wow fadeIn team-title">Nuestro Equipo</h2>
        <div class="divider offset-md-3 offset-lg-4"></div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-12">
                <div class="row justify-content-center" style="text-align: center" *ngIf="docGeneral == true">
                    <div class="iconic-content  description-team">
                        <p>
                            <span class="fg-primary"> Appodium </span>te ofrece la posibilidad de recibir apoyo de diferentes profesionales en el área de psicología:<br> Selecciona con cuál deseas agendar tu cita.
                        </p>
                    </div>
                    <div class="col-md-8 col-lg-4 py-3 wow fadeInLeft cursor-pointer" style="visibility: visible; animation-name: fadeInLeft;">

                        <div class="card card-body border-purple card-mobile text-center shadow pt-5" (click)="doctorSelect(1)">
                            <div class="team-item">
                                <div class="team-avatar">
                                    <img src="assets/img/doctors/juan fernando.JPG" alt="" width="150">
                                </div>
                                <h5 class="team-name mt-4" style="color:#0cbcb7">JUAN FERNANDO <br> OROZCO RODRÍGUEZ </h5>
                                <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOLOGO GENERAL </h6>
                            </div>
                            <p class="fs-small description-psicolog mt-2 text-justiyfy" style="font-size:13pt; text-align:justify">Profesional de la salud mental que apoya los procesos psicológicos a partir de la orientación cognitiva, asumiendo rol de guía y consultor. </p>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-4 py-3 wow fadeInUp cursor-pointer" style="visibility: visible; animation-name: fadeInUp;" (click)="doctorSelect(2)">
                        <div class="card card-body border-purple card-mobile text-center shadow pt-5" style="padding-bottom: 49px;">
                            <div class="team-item">
                                <div class="team-avatar">
                                    <img src="assets/img/doctors/Claudia Rodriguez.JPG" alt="" width="150">
                                </div>
                                <h5 class="team-name mt-4" style="color:#0cbcb7">CLAUDIA <br>RODRÍGUEZ RAMOS</h5>
                                <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOPEDAGOGA GENERAL</h6>
                            </div>
                            <p class="fs-small description-psicolog mt-2 pb-4 text-justiyfy" style="font-size:13pt; text-align:justify">Profesional de la pedagogía y la psicología que apoya los procesos cognitivos y del aprendizaje. </p>
                        </div>
                    </div>                   
                </div>

                <div class="row justify-content-center mb-5" *ngIf="docMagister == true">
                    <div class="col-md-8 col-lg-4 py-3 wow fadeInLeft cursor-pointer" style="visibility: visible; animation-name: fadeInLeft;" (click)="doctorSelect(4)">
                        <div class="card card-body border-purple card-mobile text-center shadow pt-5">
                            <div class="team-item">
                                <div class="team-avatar">
                                    <img src="assets/img/doctors/luisa.jpg" alt="" width="150">
                                </div>
                                <h5 class="team-name mt-4" style="color:#0cbcb7">LUISA FERNANDA <br> PINEDA CORONADO </h5>
                                <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOLOGA CLÍNICA - MAGISTER </h6>
                            </div>
                            <p class="fs-small description-psicolog mt-2" style="font-size:13pt; text-align:justify">Especialista que atiende problemas de salud mental de tipo emocional y comportamental a partir de evaluación, diagnostico e intervención.</p>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-4 py-3 wow fadeInUp cursor-pointer" style="visibility: visible; animation-name: fadeInUp;" (click)="doctorSelect(5)">
                        <div class="card card-body border-purple card-mobile text-center shadow pt-5 card-andrea">
                            <div class="team-item">
                                <div class="team-avatar">
                                    <img src="assets/img/doctors/Andrea.JPG" alt="" width="150">
                                </div>
                                <h5 class="team-name mt-4" style="color:#0cbcb7">ANDREA <br>RAMÍREZ JARAMILLO</h5>
                                <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOLOGA FAMILIAR – MAGISTER </h6>
                            </div>
                            <p class="fs-small  description-psicolog mt-2" style="font-size:13pt; text-align:justify">Especialista que atiende problemas familiares que comprometen la conexión y relación entre los miembros.  </p>
                        </div>
                    </div>



                    <div style="display:flex; justify-content:center; text-align: center;">
                        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" style="padding: 0 20px;" [routerLink]="['/reagendamiento']">Reagendar Cita</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section bg-gris mt-5" *ngIf="doctorSelected">
    <div class="cont-doctor" *ngIf="doctor1">
        <div class="col-md-8 col-lg-4 py-3 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;" (click)="doctorSelect(1)">

            <div class="card card-body border-purple card-mobile text-center shadow pt-5">
                <div class="team-item">
                    <div class="team-avatar">
                        <img src="assets/img/doctors/juan fernando.JPG" alt="" width="150">
                    </div>
                    <h5 class="team-name mt-4" style="color:#0cbcb7">JUAN FERNANDO OROZCO RODRÍGUEZ </h5>
                    <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOLOGO GENERAL </h6>
                </div>
                <p class="fs-small description-psicolog mt-2 text-justiyfy" style="font-size:13pt">Psicólogo general con experiencia en neuropsicología y psicología general, he tenido la posibilidad de compartir procesos con personas en diferentes etapas del ciclo de vida desde la niñez a la adultez mayor, comprometido con el desarrollo
                    y bienestar de individuos y grupos. Elegí la psicología por el interés que despertaba en mí el ser humano y por el ambicioso deseo de contribuir a la salud mental de los individuos en la sociedad. Soy una persona con una adecuada formación
                    ética, humanística y profesional; además de ello, destaco mis competencias comunicativas a la hora de abordar procesos y analíticas que me permiten evaluar permanentemente las necesidades psicológicas de los consultantes.</p>
            </div>
        </div>
        <div class="container">
            <iframe style="height: 700px; width: 100%;" title="agendar cita" src="https://medicalsoftplus.com/co571/webPro/agendarcita?idUsuario=230"></iframe>
        </div>
    </div>

    <div class="cont-doctor" *ngIf="doctor2">
        <div class="col-md-8 col-lg-4 py-3 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">

            <div class="card card-body border-purple card-mobile text-center shadow pt-5">
                <div class="team-item">
                    <div class="team-avatar">
                        <img src="assets/img/doctors/Claudia Rodriguez.JPG" alt="" width="150">
                    </div>
                    <h5 class="team-name mt-4" style="color:#0cbcb7">CLAUDIA RODRÍGUEZ RAMOS</h5>
                    <h6 class="team-name mt-5" style="color:#0cbcb7">PSICOPEDAGOGA GENERAL </h6>
                </div>
                <p class="fs-small description-psicolog mt-2 text-justiyfy" style="font-size:13pt">Psico - pedagoga egresada de la universidad Pedagógica Nacional, diplomada en neurosesarrollo y aprendizaje de la Universidad de la sábana, con 20 años de experiencia en el diagnóstico e intervención de niños y adultos con trastornos cognitivos,
                    secundarios a diversas etiologías, problemas de aprendizaje, rehabilitación cognitiva y orientación vocacional. Nueve años de experiencia clínica, en la Clínica Universidad de la Sábana, 11 años de práctica independiente. </p>
            </div>
        </div>
        <div class="container">
            <!-- <iframe style="height: 700px; width: 100%;" title="agendar cita" src="https://medicalsoftplus.com/co571/webPro/agendarcita?idUsuario=228"></iframe> 
             -->
             <iframe style="height: 700px; width: 100%;" title="agendar cita" src="https://medicalsoftplus.com/co571/webPro/agendarcita?idUsuario=227"></iframe>
        </div>
    </div>

    <div class="cont-doctor" *ngIf="doctor4">
        <div class="col-md-8 col-lg-4 py-3 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">

            <div class="card card-body border-purple card-mobile text-center shadow pt-5">
                <div class="team-item">
                    <div class="team-avatar">
                        <img src="assets/img/doctors/luisa.jpg" alt="" width="150">
                    </div>
                    <h5 class="team-name mt-4" style="color:#0cbcb7">LUISA FERNANDA PINEDA CORONADO </h5>
                    <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOLOGA CLÍNICA - MAGISTER </h6>
                </div>
                <p class="fs-small description-psicolog mt-2 text-justiyfy" style="font-size:13pt">Psicóloga clínica con enfoque cognitivo contextual/conductual, especialista en
                    evaluación y tratamiento de trastornos emocionales y afectivos, con experiencia de más de 5 años en acompañamiento de niños, niñas, adolescentes y adultos neurodiversos y 
                    neurotípicos en estimulación, habilitación de habilidades cognitivas y socioafectivas en diversos diagnósticos clínicos y del neurodesarrollo, así mismo, en la orientación
                    a familiares/red de apoyo principal. Complementando experiencia profesional en asesoramiento a colegios, universidades y profesionales de la salud en diagnósticos del neuro desarrollo.
                </p>
            </div>
        </div>
        <div class="container">
            <iframe style="height: 700px; width: 100%;" title="agendar cita" src="https://medicalsoftplus.com/co571/webPro/agendarcita?idUsuario=228"></iframe> 
        </div>
    </div>

    <div class="cont-doctor" *ngIf="doctor5">
        <div class="col-md-8 col-lg-4 py-3 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">

            <div class="card card-body border-purple card-mobile text-center shadow pt-5">
                <div class="team-item">
                    <div class="team-avatar">
                        <img src="assets/img/doctors/Andrea.JPG" alt="" width="150">
                    </div>
                    <h5 class="team-name mt-4" style="color:#0cbcb7">ANDREA RAMÍREZ JARAMILLO</h5>
                    <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOLOGA FAMILIAR - MAGISTER </h6>
                </div>
                <p class="fs-small description-psicolog mt-2 text-justiyfy" style="font-size:13pt">Psicóloga en el campo clínico, Magister en clínica y terapia familiar. Con una experiencia de más de veinte años en el trabajo clínico desde la perspectiva Sistémica en procesos terapéuticos, de consultoría y de asesoría. Dedicada a la
                    evaluación, diagnóstico e intervención con población infantil, población en condición de discapacidad y con población adulta, realizando atención en la modalidad individual, de pareja y familia. Complementando el ejercicio profesional
                    con la docencia de asignaturas en el ámbito clínico, de salud y de rehabilitación; asesora de prácticas profesionales y directora de tesis. </p>
            </div>
        </div>
        <div class="container">
            <iframe style="height: 650px; width: 100%;" title="agendar cita" src="https://medicalsoftplus.com/co571/webPro/agendarcita?idUsuario=1"></iframe>
        </div>
    </div>

    <div style="display:flex; justify-content:center; text-align: center;">
        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" style="padding: 0 20px;" (click)="backToList()">regresar</button>
    </div>
    
</section>

<div id="contactclick_button_floating" style="position:fixed; bottom:15px; left: 20px; z-index: 2147483640; text-align:left">
    <button class="btn btn-primary shadow" [routerLink]="['/contactenos']">
        <img src="assets/img/icons/contact-white.png" alt="contactenos, boton contacto" width="25" *ngIf="iconButton">
        <span *ngIf="!iconButton">¡Contáctanos!</span>
    </button>
</div>

<!-- footer -->
<div class="page-footer-section bg-dark fg-white" [ngClass]="{'footer-mt': !isLogged , 'page-footer-section': isLogged}">

    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6 mb-2 logo-footer">
                <img src="assets/img/appodium-bn.png" alt="" width="250">
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-4">
                <p class="d-inline-block">Copyright 2020. This template designed by MACode ID</p>
            </div>
            <div class="col-12 col-md-4">
                <!-- Social Media Button -->
                <div class="redes-appodium">
                    <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-facebook"></span></a>
                    <a href="https://www.instagram.com/appodium_psicologia/" class="btn btn-fab btn-primary fg-white" style="margin-left: 8px;">
                        <span
                            class="mai-logo-instagram">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <a [href]="habeas" target="_blank"
                    style="color:white !important">
                    <small> politicas de privacidad. </small>
                </a>
            </div>

        </div>
    </div>
</div>

<!-- Modal Iframe MedicalSoft -->
<div class="modal fade" id="myModalMedical" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
            </div>
            <div class="modal-body modal-body-appodium" style="text-align:center">
                <iframe style="height: 700px; width: 100%;" title="agendar cita" src="https://medicalsoftplus.com/co571/webPro/agendarcita?idUsuario=225"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>