::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #2BB5B3 !important;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #2BB5B3 !important;
}

::ng-deep .mat-radio-outer-circle {
    border-color: #5e35b0;
}

.bg-light {
    background-color: #f0eef5;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #614af7;
    box-shadow: 0 4px 12px rgba(162, 122, 216, 0.3);
}

.hero-caption {
    padding-top: 63px;
}

.title-section-services {
    display: block;
    color: #5e35b0;
    font-weight: 600;
    margin-bottom: 15px;
}

@media(min-width:992px) {
    .img-triage {
        min-width: 450px;
    }
}

@media(max-width: 991px) {
    .img-triage {
        min-width: 260px;
    }
}

.card-mobile {
    background-color: #f0eef5;
}

@media(max-width:410px) {
    .card-mobile {
        margin-top: 70px;
    }
    .section-header {
        padding: 0 20px!important;
    }
}

@media(min-width:411px) and (max-width:767px) {
    .card-mobile {
        margin-top: 111px;
    }
}

@media(min-width:768px) and (max-width:992px) {
    .card-mobile {
        margin-top: 202px;
    }
}

@media(min-width:993px) {
    .card-mobile {
        margin-top: 155px;
    }
}


/* custom design appodium */

@media (max-width:320px) {
    .servicio-banner {
        min-height: 170px;
    }
    .page-banner {
        position: relative;
    }
    .appodium-services {
        min-width: 200px;
        margin-top: 32px
    }
}

@media (min-width:321px) and (max-width:375px) {
    .servicio-banner {
        min-height: 160px;
    }
    .page-banner {
        position: relative;
        height: 160px;
    }
    .appodium-services {
        min-width: 200px;
        margin-top: 32px
    }
}

@media (min-width:376px) and (max-width:425px) {
    .servicio-banner {
        min-height: 200px;
        max-height: 220px;
    }
    .page-banner {
        position: relative;
        height: 260px;
    }
    .appodium-services {
        min-width: 200px;
        margin-top: 55px
    }
}

@media (min-width:426px) and (max-width:768px) {
    .servicio-banner {
        min-height: 465px;
    }
    .appodium-services {
        min-width: 200px;
        max-width: 420px;
        margin-top: 107px
    }
}

@media (min-width:768px) {
    .servicio-banner {
        min-height: 410x;
        max-height: 427px;
    }
    .appodium-services {
        min-width: 200px;
        max-width: 420px;
        margin-top: 107px
    }
}

.hero-carousel-services .img-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0 16px;
    width: auto;
    height: 100%;
    text-align: center;
    color: #fff;
    margin-top: 5%;
}

.img-triage img {
    max-height: 800px;
}

.btn-purple {
    background-color: #9a66ff;
    border-color: #9a66ff;
    color: #fff;
}

.page-footer-section {
    padding: 25px;
    /* height: 276px; */
}


/* selects  */

.select-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #e7e7e7;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #000;
    cursor: pointer;
    font-size: 0.8em;
}

select::-ms-expand {
    display: none;
}

@media(max-width:768px) {
    .select {
        position: relative;
        width: 15em;
    }
}

@media(min-width:769px) {
    .select {
        position: relative;
        width: 20em;
    }
}

.select {
    position: relative;
    display: flex;
    height: 2em;
    line-height: 2.4;
    background: #e7e7e7;
    overflow: hidden;
    border-radius: .25em;
    color: #23b499;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #e7e7e7;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
    font-size: 14px;
}

.select:hover::after {
    color: #6132B5;
}


/* end selects */

.tittle-sec-triage {
    font-weight: 700;
    text-align: initial;
    margin: 23px 0 -15px 23px;
    color: #554092
}


/* Breadcrumb */

.breadcrumb {
    background-color: #F0EEF5;
}

.breadcrumb-item {
    font-size: 16px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\2022";
    color: var(--primary);
}

.breadcrumb-item a {
    color: #00BDB8;
}

.breadcrumb-item.active {
    color: var(--primary);
}

.breadcrumb-dark {
    background-color: #383340;
}

.breadcrumb-dark .breadcrumb-item+.breadcrumb-item::before {
    color: #00BDB8;
    font-size: 1.1rem;
}

.breadcrumb-dark .breadcrumb-item a {
    color: #00BDB8;
    text-decoration: none;
    font-size: 1.1rem;
}

.breadcrumb-dark .breadcrumb-item a:hover {
    color: #E6D7FA;
}

.breadcrumb-dark .breadcrumb-item.active {
    color: #fff;
}

.navbar-collapse {
    flex-grow: 1;
    justify-content: center;
}

.form-appodium {
    border-bottom: 1px solid #554092;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control.form-control-solid {
    color: #3F4254;
    width: 350px;
    height: 25px !important;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

@media(max-width:991px) {
    .form-control.form-control-solid {
        color: #3F4254;
        width: 260px;
        height: 25px !important;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    }
}

.text-muted {
    color: #B5B5C3;
}

.recovery-pass-label {
    font-size: 0.85rem;
}

.recovery-pass-label a:hover {
    color: #6132B5 !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg.navbar-floating {
        top: 35px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 16px;
        padding-right: 16px;
    }
    .navbar-expand-lg.navbar-floating.navbar-dark {
        background-color: transparent;
        box-shadow: none;
    }
}

.question {
    display: flex;
    align-items: center;
}