<app-header class="header-appodium" id="banner"> </app-header>
<!-- bienvenida- -->

<section class="page-section bg-gris mt-5" id="servicios">
    <div class="container">
        <div class="we-do-details">
            <div class="section-header text-center px-5">
                <h2 class="title-section-services" style="color: #0cbcb7">En tu proceso de atención, puedes elegir entre dos opciones que definirán la ruta del apoyo psicológico:</h2>
                <div class="text-justiyfy mt-5">
                    <p>
                        1.<span style="color: #9a66ff">Si eliges Agendar la cita, </span> te contactaremos directamente con el profesional para que realice el primer encuentro, en el que debe explorar los síntomas desde el punto cero.
                    </p>
                    <p>
                        2.<span style="color: #9a66ff">Si eliges Iniciar triage completo, </span> se realizará la exploración de síntomas adelantando el proceso de valoración del profesional antes de llegar a la consulta.
                    </p>
                </div>
            </div>

            <!--/.section-header-->
            <div class="we-do-carousel">
                <div class="row justify-content-center ">
                    <!--/.col-->
                    <div class="col-lg-5 col-xs-12" (click)="validateDataUser(1);">
                        <div class="single-we-do-box text-center">
                            <div class="we-do-description" style="padding-bottom: 45px;">
                                <div class="we-do-info">
                                    <div class="we-do-img">
                                        <img src="assets/img/icons/cita-medica-appodium_head.png" alt="image of business" style="max-width:61px">
                                    </div>
                                    <!--/.we-do-img-->
                                    <div class="we-do-topics">
                                        <h4>
                                            <span class="fg-primary">
                                               ¡Agenda tu cita!
                                            </span>
                                        </h4>
                                    </div>
                                    <!--/.we-do-topics-->
                                </div>
                            </div>
                            <!--/.we-do-description-->
                        </div>
                        <!--/.single-we-do-box-->
                    </div>
                    <!--/.col-->
                    <div class="col-lg-5 col-xs-12" [routerLink]="['/triage-full']">
                        <div class="single-we-do-box text-center">
                            <div class="we-do-description" style="padding-bottom: 45px;">
                                <div class="we-do-info">
                                    <div class="we-do-img">
                                        <img src="assets/img/icons/document-appodium.png" alt="image of support" style="max-width:61px">
                                    </div>
                                    <!--/.we-do-img-->
                                    <div class="we-do-topics">
                                        <h4>
                                            <span class="fg-primary">
                                               Iniciar Triage
                                            </span>
                                        </h4>
                                    </div>
                                    <!--/.we-do-topics-->
                                </div>
                            </div>
                            <!--/.we-do-description-->
                        </div>
                        <!--/.single-we-do-box-->
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
            </div>
            <!--/.we-do-carousel-->
        </div>
        <!--/.we-do-details-->
    </div>
    <!--/.container-->
</section>


<div id="contactclick_button_floating" style="position:fixed; bottom:15px; left: 20px; z-index: 2147483640; text-align:left">
    <button class="btn btn-primary btn-contact shadow" [routerLink]="['/contactenos']">
        <img src="assets/img/icons/contact-white.png" alt="contactenos, boton contacto" width="25" *ngIf="iconButton"> 
        <span *ngIf="!iconButton">¡Contáctanos!</span>
    </button>
</div>

<!-- <section [ngClass]="{'sectionStiky': !mobile,  'sectionStiky-mobile': mobile }">
    <div class="separador">
        <div class="my-auto" *ngIf="!mobile">
            <h4 class="offset-lg-1" style="font-size:35px; color: #fff;"><span> A UN CLIC DE EMPODERAR TU MENTE !!!</span></h4>
            <! -- <h5 style="color: #fff"> Quédate con nosotros Contáctanos </h5> -- >
        </div>
        <div class="justify-content-center">
            <button class="btn btn-purple font-weight-bold shadow px-9 py-2 my-3 mx-4" [routerLink]="['/contactenos']">Contacto</button>
        </div>
    </div>
</section> -->

<!-- footer -->
<div class="page-footer-section bg-dark fg-white">

    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6 mb-2 logo-footer">
                <img src="assets/img/appodium-bn.png" alt="" width="250">
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-5">
                <p class="d-inline-block">Copyright 2020. This template designed by MACode ID</p>
            </div>
            <div class="col-12 col-md-3">
                <!-- Social Media Button -->
                <div class="redes-appodium">
                    <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-facebook"></span></a>
                    <a href="https://www.instagram.com/appodium_psicologia/" class="btn btn-fab btn-primary fg-white" style="margin-left: 8px;">
                        <span
                            class="mai-logo-instagram">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <a [routerLink]="['habeas-data']" target="_blank" style="color:white !important">
                    <small>  politica de privacidad  </small>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modal  generico -->
<div class="modal fade" id="myModalGeneric" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Actualizar información </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
            </div>

            <div class="modal-body modal-body-appodium">

                <h5 style="padding: 0 25px;text-align: center;"> Para continuar con el proceso es necesario que actualices tu información.</h5>
                <form class="form form-auth ng-untouched ng-pristine ng-valid" [formGroup]="dataUserForm">
                    <div class="form-group mb-4">

                        <div class="select-cont ">
                            <div class="select">
                                <select name="format" #mySelectDocument required formControlName="idtipodocumento" (change)="setTypeDoc()">
                               <option selected disabled>Tipo de Documento</option>
                               <option *ngFor="let document of documentsType" value="{{document.idtipodocumento}}">{{document.nombre}}</option> 
                            </select>
                            </div>
                        </div>

                        <input type="text" placeholder="Número de documento" name="document" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="documento">

                        <input type="text" placeholder="Nombre" name="username" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="nombre">

                        <input type="text" placeholder="Apellido" name="userlastname" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="apellido">

                        <input type="tel" placeholder="Telefóno" name="mobil" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="telefono">

                        <input type="date" placeholder="Fecha Nacimiento" name="birthday" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="fechanacimiento">

                        <!--  <input type="tex" placeholder="Lugar de Nacimiento" name="cityBorn" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="lugarnacimiento"> -->

                        <!-- 
                        <div class="select-cont ">
                            <div class="select">
                                <select #mySelectEscolarity required formControlName="idescolaridad">
                                    <option selected disabled>Escolaridad</option>
                                    <option *ngFor="let escolaridad of escolaridad" value="{{escolaridad.idescolaridad}}" >{{escolaridad.nombre}}</option>                                
                                 </select>
                            </div>
                        </div>

                        <div class="select-cont ">
                            <div class="select">
                                <select #mySelectOcupation required formControlName="idocupacion">
                                    <option selected disabled>Ocupación</option>
                                    <option *ngFor="let ocupacion of ocupaciones" value="{{ocupacion.idocupacion}}" >{{ocupacion.nombre}}</option>                                
                                 </select>
                            </div>
                        </div>

                        <input type="text" placeholder="Dirección" name="address" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="direccion">

                        <div class="select-cont ">
                            <div class="select">
                                <select #mySelectcity required formControlName="idciudad">
                                    <option selected disabled>Ciudad</option>
                                    <option *ngFor="let ciudad of ciudades" value="{{ciudad.idciudad}}" >{{ciudad.nombre}}</option>                                
                                 </select>
                            </div>
                        </div>-->
                    </div>
                    <input type="checkbox" class="example-margin" formControlName="authorizationData">
                    <a (click)="habeasData()">
                        <small>
                            Autorizo el tratamiento de datos personales.
                        </small>
                    </a>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="updateDataUser(); setAppointment()">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pasarela pago -->
<div class="modal fade" id="modalPayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddModalPayent></button>
            </div>

            <div class="modal-body modal-body-pay">

                <h5> Recuerda que para iniciar el proceso de atención de Telepsicología, debes realizar el pago del servicio requerido a través de nuestras plataformas para dicho fin. </h5>
                <div class="modal-body modal-body-appodium text-message mx-auto ">
                    <h4 style="color:#554092"> Pasos a seguir</h4>
                    <p><span>1. Elige el medio de pago.</span> </p>
                    <p><span>2. Prosigue con la ruta de atención  </span> </p>
                </div>

                <div class="row  option-page">
                    <div class="col-12 justify-content-center ">
                        <div class="col-4  justify-content-center m-4" style="display:inline-block">
                            <img src="assets/img/icons/descarga.jpg" class="image-pay" alt="">
                        </div>
                        <div class="col-4 justify-content-center m-5" style="display:inline-block">
                            <img src="assets/img/icons/credit-card.jpg" class="image-pay-2">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="validatePayment()">Continuar</button>
                <!-- <button type="button" class="btn btn-primary" (click)="validatePaymentOfert()" *ngIf="completeTriageFull"> Continuar</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
            </div>
            <div class="modal-body modal-body-appodium" style="text-align:center">
                {{messageResult}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalPay" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
            </div>
            <div class="modal-body modal-body-appodium" style="text-align:center">
                {{messageResult}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" *ngIf="!this.pago">Aceptar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" *ngIf="this.pago" (click)="appoinmentModal()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  Citas -->
<div class="modal fade" id="myModalAppointment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Agendamiento de Cita </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddModalAppointment></button>
            </div>

            <div class="modal-body modal-body-appodium">

                <form class="form form-auth ng-untouched ng-pristine ng-valid" [formGroup]="appointmentForm">
                    <div class="form-group mb-4">

                        <input type="text" placeholder="Número de documento" name="document" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="documentoCliente">

                        <input type="date" placeholder="Fecha Cita" name="appointmentDate" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="fechaCita">

                        <!-- <input type="text" placeholder="Hora Cita" name="timeAppointment" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="horaCita"> -->

                        <div style="justify-content: center;display: flex;padding: 19px; align-items: center">
                            <label style="font-size: 1.1rem;margin-right: 10px;"> Hora: </label>
                            <ngb-timepicker class="time-picker" formControlName="horaCita" (change)="setTime()"></ngb-timepicker>

                        </div>
                        <!--  <pre>Selected time: {{time | json}}</pre> -->

                        <input type="text" placeholder="Nombre Cliente" name="username" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="nombreCliente">

                        <input type="tel" placeholder="Telefóno" name="mobil" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="telefonoCliente">

                        <input type="tex" placeholder="Correo" name="email" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="correoCliente">

                        <input type="tex" placeholder="Motivo Consulta" name="reasonsAppointment" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="motivoConsulta">

                        <div class="select-cont ">
                            <div class="select">
                                <select #mySelectEscolarity required formControlName="tipoConsulta">
                                    <option selected value="-1">Tipo de Consulta</option>
                                    <option selected value="0">Consulta Prescencial</option>
                                    <option selected value="1">Consulta Virtual</option>
                                    <option selected value="2">Consulta a Domicilio</option>
                                    <!-- <option *ngFor="let escolaridad of escolaridad" value="{{escolaridad.idescolaridad}}" >{{escolaridad.nombre}}</option> -->
                                 </select>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="registerAppoinment()">Agendar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Iframe MedicalSoft -->
<div class="modal fade" id="myModalMedical" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
            </div>
            <div class="modal-body modal-body-appodium" style="text-align:center">
                <iframe style="height: 700px; width: 100%;" title="agendar cita" src="https://medicalsoftplus.com/co571/webPro/agendarcita?idUsuario=225"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>