<div class="page-section page-triage bg-gris pt-1" *ngIf="!resultTriage">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-10" *ngIf="!payment">
                <div class="container-triage">
                    <div class="header-triage mb-4 mt-4">
                        <div class="form-group mb-4 row">
                            <div class="col-12">
                                <div class="mb-5 head-appodium">
                                    <img src="assets/img/head-apodium.svg" width="150px" alt="logo, logo-appodium, appodium">
                                </div>
                                <div class="test " style="text-align:center; color:#2BB5B3">
                                    <!-- <h3>
                                        ventana inicio servicios de appodium
                                    </h3> -->
                                </div>
                                <div class="">
                                    <div class="justify-content-center" style="display:flex">
                                        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="navigateListDoctors()">Agendar Cita</button>
                                        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="viewTriageForm();">Iniciar Triage</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-10" *ngIf="payment">
                <!-- Form 4 triage full - 1 -->
                <div class="" style="text-align: center;" *ngIf="form1">
                    <div class="container-triage">
                        <div class="header-triage mb-4 mt-4">
                            <div class="form-group mb-4 row">
                                <div class="col-12">
                                    <div class="mb-5 head-appodium">
                                        <img src="assets/img/head-apodium.svg" width="150px" alt="logo, logo-appodium, appodium">
                                    </div>
                                    <div class="test " style="text-align:center; color:#2BB5B3">
                                        <h3>
                                            {{ this.t_full_headers[0] }}
                                        </h3>
                                    </div>
                                    <div class="" style="color:#2BB5B3; text-align: left; margin-left: 23px; margin-top:20px">
                                        <p><b>A:</b> Acuerdo </p>
                                        <p><b>PD:</b> Parcialmente Desacuerdo</p>
                                        <p><b>TD:</b> Totalmente Desacuerdo </p>
                                    </div>
                                    <p class="tittle-sec-triage"> QUE SIENTES</p>
                                </div>
                            </div>
                        </div>
                        <form class="form body-triage">
                            <div class="card-page">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6>{{ this.tf_prg_sctn_1[0][0].nombre }}</h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p1" [(ngModel)]="this.p1">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6>{{this.tf_prg_sctn_1[0][1].nombre}}</h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p2" [(ngModel)]="this.p2">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6>{{this.tf_prg_sctn_1[0][2].nombre}}</h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p3" [(ngModel)]="this.p3">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[0][3].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p4" [(ngModel)]="this.p4">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                    <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(2); toTop();">Continuar</button>
                </div>

                <div class="" *ngIf="form2" style="text-align: center;">
                    <div class="container-triage">
                        <div class="header-triage mb-4 mt-4">
                            <div class="form-group mb-4 row">
                                <div class="col-12">
                                    <div class="mb-5 head-appodium">
                                        <img src="assets/img/head-apodium.svg" width="150px" alt="logo, logo-appodium, appodium">
                                    </div>
                                    <div class="test " style="text-align:center; color:#2BB5B3">
                                        <h3>
                                            {{ this.t_full_headers[1] }}
                                        </h3>
                                    </div>
                                    <div class="" style="color:#2BB5B3; text-align: left; margin-left: 23px; margin-top:20px">
                                        <p><b>A:</b> Acuerdo </p>
                                        <p><b>PD:</b> Parcialmente Desacuerdo</p>
                                        <p><b>TD:</b> Totalmente Desacuerdo </p>
                                    </div>
                                    <p class="tittle-sec-triage"> QUÉ HACES</p>
                                </div>
                            </div>
                        </div>
                        <form class="form body-triage">
                            <div class="card-page">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[1][0].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p5" [(ngModel)]="this.p5">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[1][1].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p6" [(ngModel)]="this.p6">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[1][2].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p7" [(ngModel)]="this.p7">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[1][3].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p8" [(ngModel)]="this.p8">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                    <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(1); toTop();">Regresar</button>
                    <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(3); toTop();">Continuar</button>
                </div>

                <div class="" *ngIf="form3" style="text-align: center;">
                    <div class="container-triage">
                        <div class="header-triage mb-4 mt-4">
                            <div class="form-group mb-4 row">
                                <div class="col-12">
                                    <div class="mb-5 head-appodium">
                                        <img src="assets/img/head-apodium.svg" width="150px" alt="logo, logo-appodium, appodium">
                                    </div>
                                    <div class="test " style="text-align:center; color:#2BB5B3">
                                        <h3>
                                            {{ this.t_full_headers[2] }}
                                        </h3>
                                    </div>
                                    <div class="" style="color:#2BB5B3; text-align: left; margin-left: 23px; margin-top:20px">
                                        <p><b>A:</b> Acuerdo </p>
                                        <p><b>PD:</b> Parcialmente Desacuerdo</p>
                                        <p><b>TD:</b> Totalmente Desacuerdo </p>
                                    </div>
                                    <p class="tittle-sec-triage"> QUÉ PIENSAS</p>
                                </div>
                            </div>
                        </div>
                        <form class="form body-triage">
                            <div class="card-page">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[2][0].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p9" [(ngModel)]="this.p9">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[2][1].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p10" [(ngModel)]="this.p10">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[2][2].nombre}}
                                        </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p11" [(ngModel)]="this.p11">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[2][3].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p12" [(ngModel)]="this.p12">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(2); toTop()">Regresar</button>
                    <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(4); toTop()">Continuar</button>
                </div>

                <div class="" *ngIf="form4" style="text-align: center;">
                    <div class="container-triage">
                        <div class="header-triage mb-4 mt-4">
                            <div class="form-group mb-4 row">
                                <div class="col-12">
                                    <div class="mb-5 head-appodium">
                                        <img src="assets/img/head-apodium.svg" width="150px" alt="logo, logo-appodium, appodium">
                                    </div>

                                    <div class="test " style="text-align:center; color:#2BB5B3">
                                        <h3>
                                            {{ this.t_full_headers[3] }}
                                        </h3>
                                    </div>
                                    <div class="" style="color:#2BB5B3; text-align: left; margin-left: 23px; margin-top:20px">
                                        <p><b>A:</b> Acuerdo </p>
                                        <p><b>PD:</b> Parcialmente Desacuerdo</p>
                                        <p><b>TD:</b> Totalmente Desacuerdo </p>
                                    </div>
                                    <p class="tittle-sec-triage"> CÓMO ERES</p>
                                </div>
                            </div>
                        </div>
                        <form class="form body-triage">
                            <div class="card-page">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[3][0].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p13" [(ngModel)]="this.p13">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[3][1].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p14" [(ngModel)]="this.p14">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[3][2].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p15" [(ngModel)]="this.p15">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[3][3].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p16" [(ngModel)]="this.p16">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                    <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(3); toTop();">Regresar</button>
                    <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(5);toTop(); ">Continuar</button>
                </div>

                <div class="" *ngIf="form5" style="text-align: center;">
                    <div class="container-triage">
                        <div class="header-triage mb-4 mt-4">
                            <div class="form-group mb-4 row">
                                <div class="col-12">
                                    <div class="mb-5 head-appodium">
                                        <img src="assets/img/head-apodium.svg" width="150px" alt="logo, logo-appodium, appodium">
                                    </div>
                                    <div class="test " style="text-align:center; color:#2BB5B3">
                                        <h3>
                                            {{ this.t_full_headers[4] }}
                                        </h3>
                                    </div>
                                    <div class="" style="color:#2BB5B3; text-align: left; margin-left: 23px; margin-top:20px">
                                        <p><b>A:</b> Acuerdo </p>
                                        <p><b>PD:</b> Parcialmente Desacuerdo</p>
                                        <p><b>TD:</b> Totalmente Desacuerdo </p>
                                    </div>
                                    <p class="tittle-sec-triage"> QUE TE PREOCUPA</p>
                                </div>
                            </div>
                        </div>
                        <form class="form body-triage">
                            <div class="card-page">
                                <div class="row col-sm-12">

                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[4][0].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p17" [(ngModel)]="this.p17">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[4][1].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p18" [(ngModel)]="this.p18">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[4][2].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p19" [(ngModel)]="this.p19">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-page" style="margin-top: 20px;">
                                <div class="row col-sm-12">
                                    <div class="col-sm-5 question">
                                        <h6> {{this.tf_prg_sctn_1[4][3].nombre}} </h6>
                                    </div>

                                    <div class="col-sm-7" style="margin-top:15px">
                                        <div class="col-12 radio-buttons">
                                            <mat-radio-group name="p20" [(ngModel)]="this.p20">
                                                <mat-radio-button value="1" class="col-4">
                                                    <span style="white-space: normal;">A</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="col-4">
                                                    <span style="white-space: normal;">PD</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="3" class="col-4">
                                                    <span style="white-space: normal;">TD</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                    <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="changeForm(4)">Regresar</button>
                    <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="resultTriageFull()">Continuar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="contactclick_button_floating" style="position:fixed; bottom:15px; left: 20px; z-index: 2147483640; text-align:left">
        <button class="btn btn-primary shadow" [routerLink]="['/contactenos']">
            <img src="assets/img/icons/contact-white.png" alt="contactenos, boton contacto" width="25" *ngIf="iconButton">
            <span *ngIf="!iconButton">¡Contáctanos!</span>
        </button>
    </div>
</div>

<!-- container if user answer Triage -->
<div class="page-section page-triage bg-gris pt-1" *ngIf="resultTriage">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <!-- Form 4 triage full - 1 -->
                <div class="card-page" style="text-align: center;">
                    <div class="container-triage">
                        <div class="header-triage mb-4 mt-4">
                            <div class="form-group mb-4 row">
                                <div class="col-12">
                                    <div class="mb-5 head-appodium">
                                        <img src="assets/img/head-apodium.svg" width="150px" alt="logo, logo-appodium, appodium">
                                    </div>
                                    <div class="test " style="text-align:center; color:#2BB5B3">
                                        <h3>
                                            Este usuario ya realizo el Triage, el resultado fué: {{ puntajeTriage }}
                                        </h3>
                                    </div>
                                    <div class="">
                                        <div class="justify-content-center">
                                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="navigateListDoctors()">Agendar Cita</button>
                                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" (click)="sendResultTriage(1)">Obtener Resultado</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contactclick_button_floating" style="position:fixed; bottom:15px; left: 20px; z-index: 2147483640; text-align:left">
        <button class="btn btn-primary btn-contact shadow" [routerLink]="['/contactenos']">
            <img src="assets/img/icons/contact-white.png" alt="contactenos, boton contacto" width="25" *ngIf="iconButton"> 
            <span *ngIf="!iconButton">Contáctanos!</span>
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{titleModal}} , {{puntaje}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
            </div>
            <div class="modal-body modal-body-appodium" *ngIf="!step2 ">
                {{messageResult}}
            </div>
            <!-- <div class="modal-body modal-body-appodium" *ngIf="step2 ">
                {{messageResultStep2}}
            </div>

            <div class="modal-body modal-body-appodium" *ngIf="step2">
                Se ha enviado un correo a su mail con el resultado del triage, por favor revise su bandeja de entrada o la carpeta de SPAM.
            </div> -->

            <div class="modal-body modal-body-appodium text-message mx-auto">
                <label> Pasos a seguir </label>
                <p><span>1. Solicita una cita</span> </p>
                <p><span>2. No olvides hacer el trámite y la confirmación</span> </p>
                <p><span>3. Espera la llamada de tu Especialista tratante</span> </p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary " (click)="step2Modal();" data-bs-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal End -->
<div class="modal fade" id="myModalEnd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{titleModal}} , {{puntaje}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModalEnd></button>
            </div>
            <div class="modal-body modal-body-appodium" *ngIf="step2 ">
                {{messageResultStep2}}
            </div>

            <div class="modal-body modal-body-appodium" *ngIf="step2">
                Se ha enviado un correo a su mail con el resultado del triage, por favor revise su bandeja de entrada o la carpeta de SPAM.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="navigateTriage()">Cerrar</button>
                <!-- <button type="button" class="btn btn-primary " (click)="step2Modal(); " data-bs-dismiss="modal">Continuar</button> -->
            </div>
        </div>
    </div>
</div>


<!-- Modal  option auth-->
<div class="modal fade" id="modalSelectAuth" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{titleModal}} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddModalSelectAuth></button>
            </div>

            <div class="modal-body modal-body-appodium">
                {{messageResult}}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary " *ngIf="complete &&  !this.noAuth" (click)="validateLogin()">Continuar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  generico -->
<div class="modal fade" id="myModalGeneric" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Actualizar información </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
            </div>

            <div class="modal-body modal-body-appodium">

                <h5 style="padding: 0 25px;text-align: center;"> Para continuar con el proceso es necesario que actualices tu información.</h5>
                <form class="form form-auth ng-untouched ng-pristine ng-valid" [formGroup]="dataUserForm">
                    <div class="form-group mb-4">


                        <div class="select-cont ">
                            <div class="select">
                                <select name="format" #mySelectDocument required formControlName="idtipodocumento" (change)="setTypeDoc()">
                               <option selected disabled>Tipo de Documento</option>
                               <option *ngFor="let document of documentsType" value="{{document.idtipodocumento}}" >{{document.nombre}}</option> 
                            </select>
                            </div>
                        </div>

                        <input type="text" placeholder="Número de documento" name="document" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="documento">

                        <input type="text" placeholder="Nombre" name="username" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="nombre">

                        <input type="text" placeholder="Apellido" name="userlastname" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="apellido">

                        <input type="tel" placeholder="Telefóno" name="mobil" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="telefono">

                        <input type="date" placeholder="Fecha Nacimiento" name="birthday" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="fechanacimiento">

                    </div>
                    <input type="checkbox" class="example-margin" formControlName="authorizationData">
                    <a [routerLink]="['habeas-data']" target="_blank">
                        <small>
                            Autorizo el tratamiento de datos personales.
                        </small>
                    </a>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="updateDataUser()" data-bs-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pasarela pago -->
<div class="modal " id="modalPayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-backdrop="false" #closeAddModalPayment></button>
            </div>

            <div class="modal-body modal-body-pay">

                <h5> Recuerda que para iniciar el proceso de atención de Telepsicología, debes realizar el pago del servicio requerido a través de nuestras plataformas para dicho fin. </h5>
                <div class="modal-body modal-body-appodium text-message mx-auto ">
                    <h4 style="color:#554092"> Pasos a seguir</h4>
                    <p><span>1. Elige el medio de pago.</span> </p>
                    <p><span>2. Prosigue con la ruta de atención  </span> </p>
                </div>

                <div class="row  option-page">
                    <div class="col-12 justify-content-center ">
                        <div class="col-4  justify-content-center m-4" style="display:inline-block">
                            <img src="assets/img/icons/descarga.jpg" class="image-pay" alt="">
                        </div>
                        <div class="col-4 justify-content-center m-5" style="display:inline-block">
                            <img src="assets/img/icons/credit-card.jpg" class="image-pay-2">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="validatePayment()" *ngIf="!completeTriageFull && !appoinment">Continuar</button>
                <button type="button" class="btn btn-primary" (click)="validPaymentAppoinment()" *ngIf="appoinment">Continuar</button>

                <!-- <button type="button" class="btn btn-primary" (click)="validatePaymentOfert()" *ngIf="completeTriageFull"> Continuar</button> -->
            </div>
        </div>
    </div>
</div>

<!-- Modal error-->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{titleModal}} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddAuthModal></button>
            </div>

            <div class="modal-body modal-body-appodium" *ngIf="!step2 ">
                {{messageResult}}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="navigateServices()">Cerrar</button> -->
            </div>
        </div>
    </div>
</div>

<!-- Modal response appoinment-->
<div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{titleModal}} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddAuthModal></button>
            </div>

            <div class="modal-body modal-body-appodium" *ngIf="!step2 ">
                {{messageResult}}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="navigateServices()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal  Citas -->
<div class="modal fade" id="myModalAppointment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Agendamiento de Cita </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddModalAppointment></button>
            </div>
            <div class="modal-body modal-body-appodium">

                <form class="form form-auth ng-untouched ng-pristine ng-valid" [formGroup]="appointmentForm">
                    <div class="form-group mb-4">

                        <input type="text" placeholder="Número de documento" name="document" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="documentoCliente">

                        <input type="date" placeholder="Fecha Cita" name="appointmentDate" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="fechaCita">

                        <!-- <input type="text" placeholder="Hora Cita" name="timeAppointment" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="horaCita"> -->

                        <div style="justify-content: center;display: flex;padding: 19px; align-items: center">
                            <label style="font-size: 1.1rem;margin-right: 10px;"> Hora: </label>
                            <ngb-timepicker class="time-picker" formControlName="horaCita" (change)="setTime()"></ngb-timepicker>

                        </div>
                        <!--  <pre>Selected time: {{time | json}}</pre> -->

                        <input type="text" placeholder="Nombre Cliente" name="username" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="nombreCliente">

                        <input type="tel" placeholder="Telefóno" name="mobil" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="telefonoCliente">

                        <input type="tex" placeholder="Correo" name="email" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="correoCliente">

                        <input type="tex" placeholder="Motivo Consulta" name="reasonsAppointment" autocomplete="off" class="form-control form-control-solid form-appodium mx-auto py-4" formControlName="motivoConsulta">

                        <div class="select-cont ">
                            <div class="select">
                                <select #mySelectEscolarity required formControlName="tipoConsulta">
                                    <option selected value="-1">Tipo de Consulta</option>
                                    <option selected value="0">Consulta Prescencial</option>
                                    <option selected value="1">Consulta Virtual</option>
                                    <option selected value="2">Consulta a Domicilio</option>
                                    <!-- <option *ngFor="let escolaridad of escolaridad" value="{{escolaridad.idescolaridad}}" >{{escolaridad.nombre}}</option> -->
                                 </select>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="registerAppoinment()">Agendar</button>
            </div>
        </div>
    </div>
</div>