/* Navbar */

.navbar-floating {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.navbar-nav .nav-link {
    font-weight: 500;
}

.navbar-brand {
    margin-top: -145px;
}

.btn-primary {
    color: #fff;
    background-color: #554092;
    border-color: #554092;
}

@media(max-width:992px) {
    .navbar-brand img {
        max-width: 300px;
    }
    .card-page-auth {
        position: relative;
        padding: 20px;
        background-color: transparent;
        color: #6a32b5;
        border-radius: 4px;
        box-shadow: none;
    }
    .login-form {
        padding-right: .5rem!important;
        padding-left: .5rem!important;
    }
}

.navbar-brand {
    margin-top: -145px;
}


/* Breadcrumb */

.breadcrumb {
    background-color: #F0EEF5;
}

.breadcrumb-item {
    font-size: 16px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\2022";
    color: var(--primary);
}

.breadcrumb-item a {
    color: #00BDB8;
}

.breadcrumb-item.active {
    color: var(--primary);
}

.breadcrumb-dark {
    background-color: #383340;
}

.breadcrumb-dark .breadcrumb-item+.breadcrumb-item::before {
    color: #00BDB8;
    font-size: 1.1rem;
}

.breadcrumb-dark .breadcrumb-item a {
    color: #00BDB8;
    text-decoration: none;
    font-size: 1.1rem;
}

.breadcrumb-dark .breadcrumb-item a:hover {
    color: #E6D7FA;
}

.breadcrumb-dark .breadcrumb-item.active {
    color: #fff;
}

.navbar-collapse {
    flex-grow: 1;
    justify-content: center;
}

.form-appodium {
    border-bottom: 1px solid #554092;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control.form-control-solid {
    color: #3F4254;
    width: 350px;
    height: 25px !important;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

@media(max-width:991px) {
    .form-control.form-control-solid {
        color: #3F4254;
        width: 260px;
        height: 25px !important;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    }
    .textarea-appodium {
        width: 240px;
    }
}

.text-muted {
    color: #B5B5C3;
}

.recovery-pass-label {
    font-size: 0.85rem;
}

.recovery-pass-label a:hover {
    color: #6132B5 !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg.navbar-floating {
        top: 35px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 16px;
        padding-right: 16px;
    }
    .navbar-expand-lg.navbar-floating.navbar-dark {
        background-color: transparent;
        box-shadow: none;
    }
    .textarea-appodium {
        width: 350px;
    }
}

.invalid-message {
    text-align: left;
    font-size: 0.8rem;
}

@media (max-width:348px) {
    .invalid-message {
        margin-left: 0px;
    }
}

@media (min-width:349px) and (max-width:370px) {
    .invalid-message {
        margin-left: 7px;
    }
}

@media (min-width:371px) and (max-width:380px) {
    .invalid-message {
        margin-left: 16px;
    }
}

@media (min-width:381px) and (max-width:392px) {
    .invalid-message {
        margin-left: 22px;
    }
}

@media (min-width:393px) and (max-width:400px) {
    .invalid-message {
        margin-left: 25px;
    }
}

@media (min-width:401px) and (max-width:425px) {
    .invalid-message {
        margin-left: 10%;
    }
}

@media (min-width:426px) and (max-width:432px) {
    .invalid-message {
        margin-left: 12%;
    }
}

@media (min-width:433px) and (max-width:460px) {
    .invalid-message {
        margin-left: 14%;
    }
}

@media (min-width:461px) and (max-width:495px) {
    .invalid-message {
        margin-left: 17%;
    }
}

@media (min-width:496px) and (max-width:550px) {
    .invalid-message {
        margin-left: 19%;
    }
}

@media (min-width:551px) and (max-width:600px) {
    .invalid-message {
        margin-left: 20%;
    }
}

@media (min-width:601px) and (max-width:767px) {
    .invalid-message {
        margin-left: 21%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .invalid-message {
        margin-left: 30%;
    }
}

@media (min-width:992px) and (max-width:1024px) {
    .invalid-message {
        margin-left: 30%;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .invalid-message {
        margin-left: 11%;
    }
}

@media (min-width:1200px) {
    .invalid-message {
        margin-left: 18%;
    }
}