<app-header class="header-appodium" id="banner"> </app-header>

<div class="page-section bg-gris cont-costos" *ngIf="costos">

    <div class="container team-appodium">
        <h2 class="text-center wow fadeIn team-title" Style="color:#5e35b0">Costos por Sesión </h2>
        <div class="row justify-content-center mt-2">
            <div class="col-lg-12">
                <div class="row justify-content-center sec-howwork" style="text-align: center">

                    <div class="wow fadeInLeft single-we-do-box px-0" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="border-0 text-center">
                            <div class="team-item py-3 bg-white">
                                <h5 class="team-name mt-3" style="color:#5e35b0">VALORACIÓN GENERAL</h5>
                                <div class="divider-purple-prices-short"></div>
                            </div>
                            <div style="text-align: left; padding: 0 30px; margin-top:20px">
                                <p class="fs-small mt-2 text-justify" style="font-size:13pt">Sesión de 1 hora, con un profesional de psicología general </p>
                                <p class="fs-small my-0 text-justify" style="font-size:13pt; font-weight: 500;">Costo: $ 0.00 </p>
                            </div>
                            <a>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 mt-1 mb-3 mx-4" style="padding: 0 20px">Pagar</button>
                            </a>
                        </div>
                    </div>
                    <div class="wow fadeInRight single-we-do-box px-0" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="border-0  text-center">
                            <div class="team-item py-2 bg-white">
                                <!-- <div class="we-do-img mt-2">
                                    <img src="assets/img/icons/cita-medica-appodium_head.png" alt="image of business" style="max-width:61px">
                                </div> -->
                                <h5 class="team-name mt-2" style="color:#5e35b0">VALORACIÓN PRIMER ENCUENTRO ESPECIALISTA</h5>
                                <div class="divider-purple-prices"></div>
                            </div>
                            <div class="card-middle-costos" style="text-align: left; padding: 0 28px; margin-top:0 20px">
                                <p class="fs-small mt-3" style="font-size:13pt">Sesión de 1 hora, con un profesional con Especialización</p>
                                <p class="fs-small my-0 text-justify" style="font-size:13pt; font-weight: 500;">Costo: $ 0.00 </p>
                            </div>
                            <a>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 mt-1 mb-3 mx-4" style="padding: 0 20px">Pagar</button>
                            </a>
                        </div>
                    </div>
                    <div class="wow fadeInUp single-we-do-box px-0" style="visibility: visible; animation-name: fadeInUp; ">
                        <div class="border-0 text-center ">
                            <div class="team-item py-2 bg-white">
                                <!-- <div class="we-do-img mt-2">
                                    <img src="assets/img/icons/document-appodium.png" alt="image of support" style="max-width:61px">
                                </div> -->
                                <h5 class="team-name mt-2" style="color:#5e35b0">VALORACIÓN PRIMER ENCUENTRO MAGISTER</h5>
                                <div class="divider-purple-prices"></div>
                            </div>
                            <div class="card-right-costos" style="text-align: left; padding: 0 28px; margin-top:20px">
                                <p class="fs-small mt-2" style="font-size:13pt">Sesión de 1 hora, con un profesional con Magister</p>
                                <p class="fs-small my-0 text-justify" style="font-size:13pt; font-weight: 500;">Costo: $ 0.00 </p>
                            </div>
                            <a>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 mt-1 mb-3 mx-4" style="padding: 0 20px">Pagar</button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-lg-12">
                <div class="row justify-content-center sec-howwork" style="text-align: center">

                    <div class="wow fadeInLeft single-we-do-box px-0" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="border-0 text-center ">
                            <div class="team-item py-3 bg-white">
                                <!-- <div class="we-do-img">
                                    <img src="assets/img/head-apodium.svg" alt="image of business" style="max-width:71px">
                                </div> -->
                                <h5 class="team-name mt-3" style="color:#5e35b0">SESIÓN DE TRATAMIENTO GENERAL</h5>
                                <div class="divider-purple-prices-short"></div>
                            </div>
                            <div style="text-align: left; padding: 0 30px; margin-top:20px">
                                <p class="fs-small mt-2 text-justify" style="font-size:13pt">Sesión de 45 min, con un profesional de psicología general </p>
                                <p class="fs-small my-0 text-justify" style="font-size:13pt; font-weight: 500;">Costo: $ 0.00 </p>
                            </div>
                            <a>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 mt-1 mb-3 mx-4" style="padding: 0 20px">Pagar</button>
                            </a>
                        </div>
                    </div>
                    <div class="wow fadeInRight single-we-do-box px-0" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="border-0 ">
                            <div class="team-item py-2 bg-white">
                                <!-- <div class="we-do-img mt-4">
                                    <img src="assets/img/icons/cita-medica-appodium_head.png" alt="image of business" style="max-width:61px">
                                </div> -->
                                <h5 class="team-name mt-2" style="color:#5e35b0">SESIÓN DE TRATAMIENTO ESPECIALISTA</h5>
                                <div class="divider-purple-prices"></div>
                            </div>
                            <div clasS="card-middle-down-costos" style="text-align: left; padding: 0 28px; margin-top:0 20px">
                                <p class="fs-small mt-3" style="font-size:13pt">Sesión de 1 hora, con un profesional con Especialización</p>
                                <p class="fs-small my-0 text-justify" style="font-size:13pt; font-weight: 500;">Costo: $ 0.00 </p>
                            </div>
                            <a>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 mt-1 mb-3 mx-4" style="padding: 0 20px">Pagar</button>
                            </a>
                        </div>
                    </div>
                    <div class="wow fadeInUp single-we-do-box px-0" style="visibility: visible; animation-name: fadeInUp; ">
                        <div class="border-0 text-center ">
                            <div class="team-item py-3 bg-white">
                                <!-- <div class="we-do-img mt-4">
                                    <img src="assets/img/icons/document-appodium.png" alt="image of support" style="max-width:61px">
                                </div> -->
                                <h5 class="team-name mt-3" style="color:#5e35b0">SESIÓN DE TRATAMIENTO MAGISTER</h5>
                                <div class="divider-purple-prices-short"></div>
                            </div>
                            <div class="card-right-costos" style="text-align: left; padding: 0 28px; margin-top:20px">
                                <p class="fs-small mt-2" style="font-size:13pt">Sesión de 1 hora, con un profesional con Magister</p>
                                <p class="fs-small my-0 text-justify" style="font-size:13pt; font-weight: 500;">Costo: $ 0.00 </p>
                            </div>
                            <a>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 mt-1 mb-3 mx-4" style="padding: 0 20px">Pagar</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify-content-center" style="display: flex;">
            <a [routerLink]="['/']">
                <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" style="padding: 0 20px" (click)="navigateToSection()">Regresar</button>
            </a>
        </div>
    </div>

</div>

<div class="page-section mt-4" *ngIf="planes">
    <div class="container team-appodium">
        <h2 class="text-center wow fadeIn team-title" Style="color:#5e35b0">Planes</h2>
        <div class="row justify-content-center mt-2">
            <div class="col-lg-12">
                <div class="row justify-content-center sec-howwork" style="text-align: center">

                    <div class="wow fadeInLeft single-we-do-box px-0" style="visibility: visible; animation-name: fadeInLeft; padding:0 30px">
                        <div class="border-0 text-center">
                            <div class="team-item py-2 bg-white">
                                <!-- <div class="we-do-img mt-2">
                                    <img src="assets/img/head-apodium.svg" alt="image of business" style="max-width:71px">
                                </div> -->
                                <h5 class="team-name mt-4" style="color:#5e35b0">PLAN APOYATE</h5>
                                <div class="divider-purple-prices"></div>
                            </div>
                            <div style="text-align: left; padding: 0 30px; margin-top:20px">
                                <p class="mt-2 text-justify weigth-500" style="font-size:13pt">Psicologo Master </p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Frecuencia:</span> 1 o 2 veces por semana </p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Duración:</span> 6 meses </p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Intensidad:</span> 45 min por sesión </p>
                                <p class="mt-2 text-justify weigth-500" style="font-size:13pt">Costo: $ 0.00 </p>
                            </div>
                            <a>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 mt-1 mb-3 mx-4" style="padding: 0 20px">Pagar</button>
                            </a>

                        </div>
                    </div>
                    <div class="wow fadeInUp single-we-do-box px-0" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="border-0 text-center">
                            <div class="team-item py-2 bg-white">
                                <!-- <div class="we-do-img mt-2">
                                    <img src="assets/img/head-apodium.svg" alt="image of support" style="max-width:71px">
                                </div> -->
                                <h5 class="team-name mt-4" style="color:#5e35b0">PLAN EJERCITATE </h5>
                                <div class="divider-purple-prices"></div>
                            </div>
                            <div class="car-middle-precios" style="text-align: left; padding: 0 28px; margin-top:20px">
                                <p class="mt-2 text-justify weigth-500" style="font-size:13pt">Psicologo Master </p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Frecuencia:</span> 1 vez por semana </p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Duración:</span> 3 meses </p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Intensidad:</span> 45 min por sesión </p>
                                <p class="mt-2 text-justify weigth-500" style="font-size:13pt">Costo: $ 0.00 </p>
                            </div>
                            <a>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 mt-1 mb-3 mx-4" style="padding: 0 20px">Pagar</button>
                            </a>
                        </div>
                    </div>
                    <div class="wow fadeInRight single-we-do-box px-0" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="border-0 ">
                            <div class="team-item py-2 bg-white">
                                <!-- <div class="we-do-img mt-2">
                                    <img src="assets/img/head-apodium.svg" alt="image of business" style="max-width:71px">
                                </div> -->
                                <h5 class="team-name mt-4" style="color:#5e35b0"> PLAN CONOCETE </h5>
                                <div class="divider-purple-prices"></div>
                            </div>
                            <div class="card-right-precios" style="text-align: left; padding: 0 28px; margin-top:0 20px">
                                <p class="mt-2 text-justify weigth-500" style="font-size:13pt">Psicologo General</p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Frecuencia:</span> 1 vez por semana </p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Duración:</span> 1 mes </p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Intensidad:</span> 45 min por sesión </p>
                                <p class="mt-2 text-justify weigth-500" style="font-size:13pt">Costo: $ 0.00 </p>
                            </div>
                            <a>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 mt-1 mb-3 mx-4" style="padding: 0 20px">Pagar</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify-content-center" style="display: flex;">
            <a [routerLink]="['/']">
                <button class="btn btn-primary font-weight-bold px-9 py-2 my-4 mx-4" style="padding: 0 20px" (click)="navigateToSection()">Regresar</button>
            </a>
        </div>
    </div>
</div>


<section class="page-section bg-gris mt-4" *ngIf="programa">
    <div class="container team-appodium">
        <h2 class="text-center wow fadeIn team-title" Style="color:#5e35b0">Programa Disciplinar </h2>
        <div class="row justify-content-center mt-2">
            <div class="col-lg-12">
                <div class="row justify-content-center sec-planes" style="text-align: center">

                    <div class="wow fadeInLeft single-we-do-box px-0" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="border-0 text-center">
                            <div class="team-item py-2 bg-white">
                                <div class="we-do-img">
                                    <img src="assets/img/head-apodium.svg" alt="image of business" style="max-width:71px">
                                </div>
                                <h5 class="team-name mt-2" style="color:#5e35b0">PROGRAMA BIPRO</h5>
                                <div class="divider-purple-prices"></div>
                            </div>
                            <div style="text-align: left; padding: 0 30px; margin-top:20px">
                                <p class="mt-2 text-justify weigth-500" style="font-size:13pt">Dos profesionales de diferentes especialidades </p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Duración:</span> 3 Meses </p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Intensidad:</span> 45 min por sesión </p>
                                <p class="mt-2 text-justify weigth-500" style="font-size:13pt">Costo: $0.00 </p>
                            </div>
                            <a>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 mt-2 mb-3 mx-4" style="padding: 0 20px">Pagar</button>
                            </a>
                        </div>
                    </div>
                    <div class="wow fadeInLeft single-we-do-box px-0" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="border-0 text-center">
                            <div class="team-item py-2 bg-white">
                                <div class="we-do-img">
                                    <img src="assets/img/head-apodium.svg" alt="image of business" style="max-width:71px">
                                </div>
                                <h5 class="team-name mt-2" style="color:#5e35b0">PROGRAMA MULTIPRO</h5>
                                <div class="divider-purple-prices"></div>
                            </div>
                            <div style="text-align: left; padding: 0 30px; margin-top:20px">
                                <p class="mt-2 text-justify weigth-500" style="font-size:13pt">Más de dos profesionales</p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Duración:</span> 3 Meses </p>
                                <p class="mt-2 text-justify" style="font-size:13pt"><span class="weigth-500">Intensidad:</span> 45 min por sesión </p>
                                <p class="mt-2 text-justify weigth-500" style="font-size:13pt">Costo: $0.00 </p>
                            </div>
                            <a>
                                <button class="btn btn-primary font-weight-bold px-9 py-2 mt-2 mb-3 mx-4" style="padding: 0 20px">Pagar</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify-content-center" style="display: flex;">
            <a [routerLink]="['/']">
                <button class="btn btn-primary font-weight-bold px-9 py-2 mt-3 mb-3 mx-4" style="padding: 0 20px" (click)="navigateToSection()">Regresar</button>
            </a>
        </div>
    </div>
</section>

<!-- footer -->
<div class="page-footer-section bg-dark fg-white">

    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6 mb-2 logo-footer">
                <img src="assets/img/appodium-bn.png" alt="" width="250">
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-5">
                <p class="d-inline-block">Copyright 2020. This template designed by MACode ID</p>
            </div>
            <div class="col-12 col-md-3">
                <!-- Social Media Button -->
                <div class="redes-appodium">
                    <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-facebook"></span></a>
                    <a href="https://www.instagram.com/appodium_psicologia/" class="btn btn-fab btn-primary fg-white" style="margin-left: 8px;">
                        <span
                            class="mai-logo-instagram">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <a [href]="habeas" target="_blank" style="color:white !important">
                    <small>  politica de privacidad.  </small>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="contactclick_button_floating" style="position:fixed; bottom:15px; left: 20px; z-index: 2147483640; text-align:left">
    <button class="btn btn-primary shadow" [routerLink]="['/contactenos']">
        <img src="assets/img/icons/contact-white.png" alt="contactenos, boton contacto" width="25" *ngIf="iconButton">
        <span *ngIf="!iconButton">¡Contáctanos!</span>
    </button>
</div>

<!-- <section [ngClass]="{'sectionStiky': !mobile,  'sectionStiky-mobile': mobile }">
    <div class="separador">
        <div class="my-auto" *ngIf="!mobile">
            <h4 class="offset-lg-1" style="font-size:35px; color: #fff;"><span> A UN CLIC DE EMPODERAR TU MENTE !!!</span></h4>
            <h5 style="color: #fff"> Quédate con nosotros Contáctanos </h5>
        </div>
        <div class="justify-content-center">
            <button class="btn btn-purple font-weight-bold shadow px-9 py-2 my-3 mx-4">Contacto</button>

        </div>
    </div>
</section> -->