<app-headerint class="header-appodium" id="banner"> </app-headerint>
<!-- bienvenida- -->

<section class="page-section bg-gris mt-5" *ngIf="this.boy">
    <div id="" class="position-realive bg-gris">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="../assets/img/servicios/servicio_1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <h2 class="title-section"> Atención al Niño y Adolescente</h2>
                    <div class="divider ml-sm-5 ml-lg-0 "></div>
                    <p class="text-justiyfy"> Solemos creer que en esta etapa solo hay diversión y juego. pero pueden presentarse situaciones difíciles en las que te podemos apoyar.</p>
                    <p class="text-justiyfy">Te recordamos que los niños y adolescentes manifiestan sus dificultades en el rendimiento escolar, en la irritabilidad, en desinterés por gustos e intereses y en ocasiones con aislamiento.
                    </p>

                    <div class="justify-content-center" style="display:flex">
                        <a [routerLink]="['/']" fragment="servicios">
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" style="padding: 0 20px" (click)="navigateToSection()">Regresar</button>
                        </a>
                        <a [routerLink]="['/']" fragment="howWork">
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" style="padding: 0 20px" >Continuar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="page-section mt-5" *ngIf="this.adulto">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 py-3">
                <h2 class="title-section">Atención al Adulto </h2>
                <div class="divider offset-sm-3 offet-md-2 offset-lg-0"></div>
                <p class="text-justiyfy">Es un momento de vida en el que se multiplican las responsabilidades para establecer el proyecto de vida personal, a partir de lo que surgen situaciones difíciles en las que te podemos apoyar. </p>
                <p class="text-justiyfy">La tensión se expresa a través de tres canales como son la emoción, el pensamiento y el comportamiento lo que puede interferir en casa, en el trabajo y en lo social.
                </p>

                <div class="justify-content-center" style="display:flex">
                    <a [routerLink]="['/']" fragment="servicios">
                        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" style="padding: 0 20px" (click)="navigateToSection()">Regresar</button>
                    </a>
                    <a [routerLink]="['/']" fragment="howWork">
                        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" style="padding: 0 20px" (click)="navigateToNext()">Continuar</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 py-3">
                <div class="about-img py-3 text-center" style="max-height: 300px;">
                    <img src="../assets/img/appodium/8.jpg" alt="" style="margin-top: -100px">
                </div>
            </div>
        </div>
    </div>
</div>


<section class="page-section bg-gris mt-5" *ngIf="this.adultoMayor">
    <div id="" class="position-realive bg-gris">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="../assets/img/servicios/servicio_3.jpg">
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <h2 class="title-section"> Atención al Adulto Mayor </h2>
                    <div class="divider ml-sm-5 ml-lg-0"></div>
                    <p class="text-justiyfy"> La tercera edad es una etapa que requiere una serie de ajustes para asumir roles de manera distinta comprometiendo la calidad de vida y el bienestar físico, social y mental reflejándose en la participación al medio.</p>
                    <p class="text-justiyfy">Sabes que necesitas apoyo si identificas fallas en las funciones mentales, en la relación con los familiares o incluso en la realización de actividades cotidianas. </p>

                    <div class="justify-content-center" style="display:flex">
                        <a [routerLink]="['/']" fragment="servicios">
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" style="padding: 0 20px" (click)="navigateToSection()">Regresar</button>
                        </a>
                        <a [routerLink]="['/']" fragment="howWork">
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" style="padding: 0 20px" (click)="navigateToNext()">Continuar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<div class="page-footer-section bg-dark fg-white">

    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6 mb-2 logo-footer">
                <img src="../assets/img/appodium-bn.png" alt="" width="250">
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-4">
                <p class="d-inline-block">Copyright 2020. This template designed by MACode ID</p>
            </div>
            <div class="col-12 col-md-4">
                <!-- Social Media Button -->
                <div class="redes-appodium">
                    <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-facebook"></span></a>
                    <a href="https://www.instagram.com/appodium_psicologia/" class="btn btn-fab btn-primary fg-white" style="margin-left: 8px;">
                        <span
                            class="mai-logo-instagram">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <a [href]="habeas" target="_blank"
                    style="color:white !important">
                    <small> politicas de privacidad. </small>
                </a>
            </div>

        </div>
    </div>
</div>

<div id="contactclick_button_floating" style="position:fixed; bottom:15px; left: 20px; z-index: 2147483640; text-align:left">
    <button class="btn btn-primary shadow" [routerLink]="['/contactenos']">
        <img src="../assets/img/icons/contact-white.png" alt="contactenos, boton contacto" width="25" *ngIf="iconButton">
        <span *ngIf="!iconButton">¡Contáctanos!</span>
    </button>
</div>


<!-- <section [ngClass]="{'sectionStiky': !mobile,  'sectionStiky-mobile': mobile }">
    <div class="separador">
        <div class="my-auto" *ngIf="!mobile">
            <h4 class="offset-lg-1" style="font-size:35px; color: #fff;"><span> A UN CLIC DE EMPODERAR TU MENTE !!!</span></h4>
            <! -- <h5 style="color: #fff"> Quédate con nosotros Contáctanos </h5> - ->
        </div>
        <div class="justify-content-center">
            <button class="btn btn-purple font-weight-bold shadow px-9 py-2 my-3 mx-4" [routerLink]="['/contactenos']">Contacto</button>
        </div>
    </div>
</section> -->