<div class="dsc-carousel" [ngStyle]="{'min-height': finalHeight}">
    <div class="dsc-carousel__btns" style="z-index:2">
        <i class="fa fa-chevron-circle-left" (click)="setBack()"></i>
        <i class="fa fa-chevron-circle-right" (click)="setNext()"></i>
    </div>
    <div class="dsc-carousel__content">
        <ng-container *ngFor="let section of items;">
            <div class="dsc-carousel__content-item" [ngStyle]="{'background-image': 'url(' + section.image + ')', 'margin-left': section.marginLeft + '%', 'margin-top': '50px' }">
                <img class="dsc-carousel_logo" src="assets/img/appodium-bn.png" alt="">
                <h1> {{section.title.first}} </h1>
                <br>
                <p class="description-appodium" *ngIf="!mobile"> <span> {{section.title.second}}</span> </p>
                <p class="description-appodium" *ngIf="mobile"> <span> {{section.title.secondMobile}}</span> </p>
            </div>
        </ng-container>
    </div>
    <div class="dsc-carousel__steps">
        <div class="dsc-carousel__steps-step 
            dsc-carousel__steps-step-{{currentPosition === item.id ? 'active': ''}}" *ngFor="let item of items" (click)="setCurrentPosition(item.id)">
        </div>
    </div>
</div>