.dsc-carousel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dsc-carousel::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.58);
}

.dsc-carousel__content {
    text-align: center;
    width: 100%;
    height: 653px;
    align-self: stretch;
    display: flex;
    overflow: hidden;
}

.dsc-carousel__content-item {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 1s all ease-in;
}

.dsc-carousel__content-item h1 {
    color: #00BDB8;
    font-weight: 700;
    /* text-transform: uppercase; */
    z-index: 1;
}

.dsc-carousel__content-item h2 {
    color: #00BDB8;
    font-weight: 700;
    /* text-transform: uppercase; */
    z-index: 1;
}

.dsc-carousel__content-item h1 span {
    color: #00BDB8;
}

.dsc-carousel__content-item p span {
    color: white;
    font-size: 1.2rem;
}

.dsc-carousel__content-item p {
    z-index: 1;
    color: white;
    font-weight: 500;
    /* text-transform: uppercase; */
}

.dsc-carousel__btns {
    position: absolute;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.dsc-carousel__btns>i {
    opacity: 0.7;
    color: #fff;
    font-size: 45px;
    cursor: pointer;
    justify-content: space-between;
}

.dsc-carousel__btns>i:hover {
    opacity: 1;
}

.dsc-carousel__steps {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dsc-carousel__steps-step {
    height: 8px;
    width: 25px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 0.75s all ease-in-out;
}

.dsc-carousel__steps-step:hover,
.dsc-carousel__steps-step-active {
    opacity: 0.7;
    background: #fff;
}

.dsc-carousel_logo {
    z-index: 10;
}

@media (max-width:426px) {
    .description-appodium {
        padding: 0 72px;
    }
    .dsc-carousel__content-item p {
        z-index: 1;
        color: white;
        font-weight: 400;
        font-size: 15px;
        /* text-transform: uppercase; */
    }
    .dsc-carousel_logo {
        z-index: 10;
        width: 250px;
    }
    .dsc-carousel__content-item img {
        width: 321px;
        margin-top: -55p;
    }   
}

@media (min-width:1025px) {
    .description-appodium {
        padding: 0 250px;
    }
    .dsc-carousel__content-item img {
        width: 390px;
        margin-top: -50px;
    }
}

@media (max-width:1024px) and (min-width:921px) {
    .description-appodium {
        padding: 0 130px;
    }
    .dsc-carousel__content-item img {
        width: 390px;
        margin-top: -50px;
    }
}

@media (max-width:767px) and (min-width:920px) {
    .description-appodium {
        padding: 0 212px;
    }
    .dsc-carousel__content-item img {
        width: 390px;
        margin-top: -50px;
    }
}

@media (min-width:426px) and (max-width:768px) {
    .dsc-carousel_logo {
        z-index: 10;
        width: 300px;
    }
    .description-appodium {
        padding: 0 130px;
    }
    .dsc-carousel__content-item img {
        width: 390px;
        margin-top: -50px;
    }
}

@media (min-width: 768px) {
    .dsc-carousel__content-item p {
        font-size: 20px;
    }
}

@media (max-width:320px) {
    .dsc-carousel__content-item img {
        width: 260px;
        margin-top: 84px;
    }
}

@media(min-width:425px){
    .dsc-carousel__content-item img {
        width: 360px !important;
        max-width: 100%;
    }
}