<div class="page-section page-triage bg-gris pt-1">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card-page" style="text-align: center;">
                    <div class="container-triage">
                        <div class="header-triage mb-4 mt-4">
                            <div class="form-group mb-4 row">
                                <div class="col-12">
                                    <div class="mb-5 head-appodium">
                                        <img src="assets/img/appodium.png" width="350px" alt="logo, logo-appodium, appodium">
                                    </div>
                                    <div class="test " style="text-align:center; color:#2BB5B3">
                                        <h4>
                                            POLITICA DE PRIVACIDAD DE DATOS PERSONALES
                                        </h4>
                                    </div>
                                    <div style="padding: 43px 84px;">
                                        <div style="text-align: justify;">
                                            <h5>1. Con respecto a esta Política de Privacidad</h5>
                                            <p> Su privacidad es muy importante para nosotros. Estamos colocando constantemente gran cantidad de pensamiento, esfuerzos, herramientas y procedimientos con el fin de proteger y salvaguardar su privacidad. Este
                                                documento es nuestra "Política de privacidad" y contiene detalles sobre cuestiones relacionadas con esta al utilizar nuestros servicios. El propósito es informarle de nuestras políticas, procedimientos y
                                                prácticas con respecto a la recopilación, uso y divulgación de cualquier información que usted proporcione a través de la Plataforma. La Política de Privacidad es parte de nuestros Términos y Condiciones
                                                los cuales se pueden encontrar en nuestro sitio web. Los términos de la Política de Privacidad (como lo es, entre otros, "nosotros", "nuestro", “nosotros” "Plataforma", Proveedor ","Servicios Proveedores",
                                                etc.) tienen el mismo significado que en nuestro documento de Términos y Condiciones . Al usar nuestra Plataforma, acepta y está de acuerdo con los Términos y Condiciones y la Política de Privacidad. Si
                                                no está de acuerdo con la Política de privacidad, debe dejar de usar la Plataforma inmediatamente. Al acceder y hacer uso de ella, usted afirma que ha leído los Términos y Condiciones y la Política de Privacidad
                                                y que comprende, acepta y reconoce todos los términos contenidos en ambos.</p>

                                            <br>
                                            <h5>2. Recopilación y uso de la información</h5>
                                            <p>Para permitirnos operar la Plataforma de manera efectiva y permitirle utilizar la Plataforma, incluyendo los Servicios de Proveedores, tenemos que recopilar y usar alguna información de usted (la "Información").
                                                Usted puede decidir qué información, si la hay, desea compartir con nosotros, pero es posible que algunas funciones de la Plataforma no estén disponibles para usted sin proporcionarnos la Información necesaria.
                                                Al decidir proporcionar la Información usted acepta nuestros métodos de recolección y uso, así como otros términos y disposiciones de esta Política de Privacidad. A continuación se detallan los diferentes
                                                tipos de información que recopilamos y cómo vamos a utilizarlos se detallan a continuación.</p>

                                            <h5>Información de identificación personal:</h5>
                                            <p>Al subscribirse a la Plataforma, actualice los detalles de su cuenta, proporcione su información de facturación, proporcione su información de contacto de emergencia o haga otro uso de nuestros servicios, podemos
                                                pedirle información personalmente identificable ("Información Personal"). La información personal que puede utilizarse para comunicarse con usted o identificarlo y puede incluir, entre otros, su nombre,
                                                correo electrónico, número de teléfono, dirección y la información de su tarjeta de crédito. Podemos usar la Información Personal, ya sea por sí misma o junto con otra información, para los siguientes propósitos:
                                            </p>
                                            <ul>
                                                <li>Crear su cuenta en nuestra plataforma, permitirle ingresar, administrarla, supervisarla, proporcionar servicio al cliente y ponerse en contacto con usted con información, alertas y sugerencias relacionadas
                                                    con su cuenta.</li>
                                                <li>Propósitos relacionados con la facturación.</li>
                                                <li>Llegar a usted, ya sea por nosotros mismos o utilizando las autoridades apropiadas, si bien nosotros o un Proveedor tenemos una buena razón para creer que usted o cualquier otra persona puede estar en peligro
                                                    o puede ser la causa o la víctima de un acto criminal.</li>
                                                <li>Deje que un Proveedor conozca su primer nombre para que él o ella pueda comunicarse con usted de manera efectiva.</li>
                                            </ul>

                                            <h5>Información del perfil:</h5>
                                            <p>Podemos hacerle varias preguntas sobre usted y sus necesidades. ("Información del Perfil"). Esta información se comparte con los Proveedores que utilizan nuestra Plataforma. Podemos usar la Información del Perfil,
                                                ya sea por sí misma o junto con otra información, para los siguientes propósitos:</p>
                                            <ul>
                                                <li>Ponerlo en contacto con un Proveedor.</li>
                                                <li>Ayudarnos a nosotros y a nuestros proveedores a conocerle y saber de sus necesidades.</li>
                                                <li>Recopilar y analizar información estadística o agregada que no sea personalmente identificable.</li>
                                            </ul>

                                            <h5>Datos de registro:</h5>
                                            <p>Al utilizar la Plataforma, nuestros servidores o los servidores de servicios de terceros registran automáticamente la información que su navegador envía ("Datos de registro"). Estos datos de registro pueden
                                                incluir, entre otros, información relacionada su computadora, dirección de protocolo de Internet ("IP"), las páginas que visita y el tiempo dedicado a esas páginas, las acciones que toma y otras estadísticas.
                                                Podemos usar esta información, ya sea por sí misma o junto con otra información para los siguientes propósitos:</p>
                                            <ul>
                                                <li>Supervisar, analizar y mejorar el uso y funcionalidad de la plataforma, su funcionamiento técnico y la adecuación de su funcionalidad a sus necesidades y preferencias.</li>
                                            </ul>


                                            <h5>Contenido de la sesión:</h5>
                                            <p>Mientras usa la plataforma, usted y un proveedor probablemente escribirían o dirían cosas por medio de comunicación basada en texto (como mensajes), comunicación verbal o comunicación de video, ya sea internamente
                                                o entre sí (colectivamente "Contenido de la Sesión"). El contenido de la sesión se comparte con el (los) proveedor (es) que trabaja(n) con usted. El Contenido de la sesión puede ser utilizado, por sí mismo
                                                o conjuntamente con otra información, para los siguientes propósitos:</p>
                                            <ul>
                                                <li>Permitir que un proveedor le proporcione el servicio.</li>
                                                <li>Supervisar, administrar y monitorear el servicio.</li>
                                                <li>Permitir la supervisión profesional al proveedor por medio de profesionales cualificados.</li>
                                            </ul>
                                            <p>Tenga en cuenta que todas las comunicaciones transmitidas a través de la Plataforma se pueden registrar o monitorear para fines de aseguramiento de la calidad y capacitación y formar parte de su archivo y registros.</p>

                                            <h5>3. Cookies y balizas Web</h5>
                                            <p>Al igual que muchos sitios web, usamos "cookies" y "balizas web" para recopilar información. Una "cookie" es un pequeño archivo de datos que se está transfiriendo al disco duro de su computadora para fines de
                                                mantenimiento de registros. Una "baliza web" es una pequeña imagen, colocada en una página web o correo electrónico que puede informar de su visita o uso. Utilizamos cookies y balizas web para permitir el
                                                funcionamiento técnico de la plataforma, para administrar su inicio de sesión en su cuenta y para recopilar los datos de registro. Puede cambiar la configuración de su navegador para que deje de aceptar
                                                cookies o le pregunte antes de aceptar una cookie. Sin embargo, si no acepta cookies, es posible que no pueda utilizar la plataforma. La plataforma también puede incluir el uso de cookies y balizas web de
                                                servicios propiedad o proporcionados por terceros que no están cubiertos por nuestra política de privacidad y no tengan acceso ni control sobre estas cookies y balizas web.</p>

                                            <h5>4. Herramientas de información social y general</h5>
                                            <p>Estaríamos usando varias herramientas disponibles públicamente y recursos de intercambio de información, tales como (entre otros) un blog, una página de Facebook, una cuenta de Twitter, una cuenta de Google
                                                Plus y otros (colectivamente "Herramientas de Información Social y General"). Cualquier información que proporcione o comparta utilizando las herramientas de información social y general puede ser leída,
                                                accedidas, recopiladas y utilizadas por otros.</p>

                                            <h5>5. Phishing o suplantación de identidad</h5>
                                            <p>El robo de identidad en línea y la piratería de cuentas, incluida la práctica actualmente conocida como "phishing", son de gran preocupación. Siempre debe sospechar cuando se le solicita la información de su
                                                cuenta y siempre debe asegurarse de hacerlo en nuestro sistema seguro. Nunca solicitaremos su información de inicio de sesión, su información de tarjeta de crédito, en una comunicación no segura o no solicitada
                                                (correo electrónico, teléfono u otro).</p>

                                            <h5>6. Información agregada e información no identificable</h5>
                                            <p>Podemos compartir información agregada que no incluye información personal con terceros para ningún propósito, incluyendo,entre otros, análisis de la industria, investigación, transacciones comerciales, y relaciones
                                                públicas.
                                            </p>

                                            <h5>7. Enlaces</h5>
                                            <p>La Plataforma puede contener enlaces a otros sitios web, servicios u ofertas que son propiedad, operados o mantenidos por terceros. Si hace clic en un enlace de terceros, se le dirigirá a ese tercer sitio web
                                                o servicio. El hecho de que nos unamos a un sitio web o servicio no es un endoso, autorización o representación de nuestra afiliación con ese tercero, ni es un respaldo de sus políticas o prácticas de privacidad
                                                o seguridad de la información. No tenemos control sobre sitios web y servicios de terceros y no tenemos control sobre sus políticas de privacidad y términos de uso.</p>

                                            <h5>8. Privacidad de los niños</h5>
                                            <p>No recopilamos ni solicitamos información de ninguna persona menor de 13 años o permitimos conscientemente que dichas personas se conviertan en nuestro usuario. La Plataforma no está dirigida y no está destinada
                                                a ser utilizada por niños menores de 13 años. Si usted sabe que hemos recopilado información personal de un niño menor de 13 años, háganoslo saber poniéndose en contacto con nosotros y eliminaremos dicha
                                                información. Tampoco permitimos que menores de 18 años usen la plataforma sin el consentimiento, la autorización y la presencia de los padres.</p>

                                            <h5>9. Cumplimiento de las leyes y la aplicación de la ley</h5>
                                            <p>Cooperamos con el gobierno y los funcionarios encargados de hacer cumplir la ley y las partes privadas para hacer cumplir y cumplir con la ley. Divulgaremos cualquier información, incluyendo información personal,
                                                a funcionarios gubernamentales o de la ley o a particulares ya que, a nuestra entera discreción, consideramos necesario o apropiado responder a reclamos y procesos legales (incluyendo entre otros a citaciones)
                                                proteger la propiedad y derechos de nosotros mismos o de un tercero, proteger la seguridad del público o de cualquier persona, o prevenir o detener la actividad que podemos considerar o representar un riesgo
                                                de ser cualquier actividad ilegal, inmoral o legalmente accionable. Podemos revelar información, incluyendo información personal, para tomar precauciones contra la responsabilidad. También debe tener en
                                                cuenta que los proveedores pueden estar obligados a revelar información a las autoridades policiales u otras autoridades para cumplir con sus responsabilidades profesionales y legales. Específicamente y
                                                sin limitación, debe saber que la ley requiere que los profesionales de la salud mental divulguen información y / o tomen medidas en los siguientes casos: (a) denuncia o sospecha de abuso de un niño o adulto
                                                vulnerable, (b) potencial suicida grave, (c) amenaza de daño a otra persona, (d) presentación del tratamiento ordenada por el tribunal.</p>

                                            <h5>10. Retención de datos</h5>
                                            <p>Puede revisar, actualizar, corregir o eliminar la información personal de su cuenta poniéndose en contacto con nosotros o editándola en línea. Si desea que suprimamos su información personal o cualquier otra
                                                información de nuestro sistema, póngase en contacto con nosotros con dicha solicitud. Utilizaremos esfuerzos comercialmente razonables para cumplir con su solicitud. Sin embargo, podemos conservar una copia
                                                archivada de sus registros como lo requiere la ley para propósitos comerciales legítimos o para fines de mantenimiento de registros. También puede haber información residual que permanecerá dentro de nuestras
                                                bases de datos y otros registros, incluyendo, sin limitación, algunos datos que pueden ser aún archivados y almacenados sin conexión. No nos hacemos responsables de eliminar la información de terceros con
                                                los cuales ya hemos compartido legítimamente información personal sobre usted.</p>

                                            <h5>11. Seguridad</h5>
                                            <p>Proteger su información es algo que nos preocupa. La seguridad de su información personal es muy importante para nosotros. Por lo tanto, empleamos medidas para proteger esta información del acceso, uso y divulgación
                                                no autorizados. Sin embargo, la confidencialidad de cualquier comunicación transmitida a través de la plataforma o almacenada con nosotros no se garantiza. Recuerde que ningún método de transmisión electrónica
                                                a través de Internet o el método de almacenamiento puede ser 100% seguro. Usted reconoce y acepta que usted comparte y transmite la información a su propio riesgo, como se detalla en nuestros términos de
                                                uso. Si tiene motivos para creer que ha habido un evento de seguridad, incluyendo entre otros "hackear" su cuenta, debe notificarnos inmediatamente.</p>

                                            <h5>12. Cómo contactarnos</h5>
                                            <p>Si tiene alguna pregunta o inquietud acerca de esta Política de Privacidad o de nuestras prácticas relacionadas con la privacidad, comuníquese con nosotros. Nuestros datos de contacto están en la parte inferior
                                                de cualquier página de nuestro sitio web. Última actualización: 02/05/22 En caso de emergencia, por favor utiliza alguno de estos <a> recursos</a> en vez de este sitio. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>