.sectionContact {
    background-color: #9a66ff;
    padding: 35px;
}

._3SQN-,
._3wnIc {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body:not(.device-mobile-optimized) ._1uldx {
    display: flex;
    position: relative;
    width: calc(100% - var(--padding) * 2);
    margin: 0 auto;
}

#comp-ijbe9ejp {
    width: 700px;
    height: 40px;
}

[data-mesh-id=mediaisa0qwms1inlineContent-gridContainer]>[id="comp-ijbe9ejp"] {
    position: relative;
    margin: 35px 0px 45px calc((100% - 980px) * 0.5);
    left: 19px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}


/* begin carousel animation */

ngb-carousel img {
    width: 100%;
    outline: none;
}

ngb-carousel {
    width: 100%;
    height: inherit;
}

ngb-carousel .picsum-img-wrapper>img {
    top: 0;
    width: 100%;
    bottom: 0;
    right: 0;
}

.carousel-inner>.item {
    -webkit-transition: 0s !important;
    -o-transition: 0s !important;
    transition: 0s !important;
}

.carousel-item-next.carousel-item-left {
    display: block !important;
}

.carousel-item {
    width: 99%;
    overflow-x: hidden;
}


/* -- */

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner>.item.next,
    .carousel-inner>.item.active.right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner>.item.prev,
    .carousel-inner>.item.active.left {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner>.item.next.left,
    .carousel-inner>.item.prev.right,
    .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


/* --- */

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    max-height: 582px;
    z-index: -1;
}

.carousel-item.active {
    opacity: 1;
    visibility: visible;
    max-height: 582px;
    z-index: 10;
}

.carousel-control-prev {
    z-index: 20;
}

.carousel-control-next {
    z-index: 20;
}

.carousel-indicators {
    z-index: 20;
}

.btn-purple {
    background-color: #9a66ff;
    border-color: #9a66ff;
    color: #fff;
}

@media(min-width:769px){
    .page-footer-section {
        padding: 25px;
        height:  200px;
    }
}

@media(max-width:768px){
    .page-footer-section {
        padding: 25px;
        height: 278px;
    }
}

/* end carousel */

.description-psicolog {
    padding: 0 40px;
    text-align: justify;
}

.team-title {
    color: #5e35b0;
}

@media (min-width: 998px) {
    .sec-howwork {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 22px;
    }

    .sec-prices {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
    }

}

@media (max-width: 999px) {
    .sec-howwork {
        display: grid;
        grid-template-rows: auto;
        gap: 22px;
        padding: 0 54px;
    }
}

.list-primer-contacto {
    font-size: 13pt;
}

::marker {
    color: #554092;
    font-size: 1.2em;
}

@media (max-width:1199px) and (min-width: 992px) {
    .card-middle-apoyo {
        padding-bottom: 44px !important;
    }
    .card-middle-title {
        margin-bottom: 30px;
    }

    .btn-middle{
        margin-top: 34px !important;
        margin-bottom: 0px !important;
    }
}

.team-appodium{
    padding-top: 28px;
}

@media(min-width:1200px){
    .card-andrea{
        padding-bottom: 68px;
    }
}
@media(max-width:1199px){
    .card-andrea{
        padding-bottom: 49px;
    }
}
