<app-header class="header-appodium" id="banner"> </app-header>
<!-- bienvenida- -->

<div class="container-fluid px-0" style="overflow-x: hidden;">
    <div class="row bg-dark h-100">
        <div class="col-12 px-0">
            <app-carousel [items]="carouselData"></app-carousel>
        </div>
    </div>
</div>

<div id="about" class="position-realive bg-image appodium-section">
    <div class="page-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <h2 class="title-section">Te gustaría saber de <span class="fg-primary">nosotros</span>?</h2>
                    <div class="divider ml-sm-5 ml-lg-0"></div>
                    <p class="text-justiyfy"> <span class="fg-primary">Appodium</span> es un consultorio virtual que
                        ofrece servicios de psicología clínica a través de tecnologías en información y comunicación, en
                        las que a través de un encuentro sincrónico (consultante y terapeuta
                        se conectan de manera simultánea) se realiza un proceso atención psicológica siguiendo los
                        modelos de atención clínica y guías de intervención.</p>
                    <p class="text-justiyfy">“La evidencia demuestra que a través de estas tecnologías es posible
                        proporcionar intervenciones completas, con observancia de criterios éticos y que resulta útil en
                        situaciones en las que el acceso a servicios de manera oportuna está
                        limitado” (Proyecto ASCOFAPSI-COLPSIC TELEPSICOLOGIA, 2020)</p>
                </div>
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="assets/img/about.jpg" alt="">
                    </div>
                    <div style="display: flex;justify-content: center;">
                        <a [routerLink]="['/']" fragment="servicios">
                            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4"
                                style="padding: 0 20px">Continuar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Que ofrecemos -->
<section class="page-section bg-gris" id="servicios">
    <div class="container">
        <div class="we-do-details">
            <div class="section-header text-center">
                <h2 class="title-section">Lo que te ofrecemos:</h2>
                <div class="divider offset-md-3 offset-lg-4"></div>
                <p>
                    <span class="fg-primary"> Appodium </span>te ofrece la posibilidad de recibir apoyo de acuerdo a la
                    necesidad de cada etapa del ciclo de vida:
                </p>
            </div>
            <!--/.section-header-->
            <div class="we-do-carousel">
                <div class="row">
                    <div class="col-lg-4 col-xs-12">
                        <div class="single-we-do-box text-center">
                            <div class="we-do-description">
                                <div class="we-do-info">
                                    <div class="we-do-img">
                                        <img src="assets/img/home/boy.png" alt="image of consultency"
                                            class="image-services">
                                    </div>
                                    <div class="we-do-topics">
                                        <h4>
                                            <span class="fg-primary">
                                                NIÑO Y ADOLESCENTE:
                                            </span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="we-do-comment">
                                    <p class="text-appodium" style="font-size:13pt; margin-bottom: 0;">
                                        Dificultades en el ámbito escolar<br> Dificultades en el ámbito familiar<br>
                                        Dificultades en el ámbito social<br>
                                    </p>
                                    <br>
                                    <div class="justify-content-center">
                                        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4"
                                            style="padding: 0 20px" [routerLink]="['/servicios', 1]">Saber más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="single-we-do-box text-center">
                            <div class="we-do-description" style="padding-bottom: 14px;">
                                <div class="we-do-info">
                                    <div class="we-do-img">
                                        <img src="assets/img/home/adult.png" alt="image of business">
                                    </div>
                                    <div class="we-do-topics">
                                        <h4>
                                            <span class="fg-primary">
                                                ADULTO:
                                            </span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="we-do-comment">
                                    <p class="text-appodium" style="font-size:13pt; margin-bottom: 0;">
                                        Alteraciones emocionales <br> Dificultades de pareja o familia <br> Dificultades
                                        laborales <br> Problemas de salud <br>
                                    </p>
                                    <div class="justify-content-center">
                                        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4"
                                            style="padding: 0 20px" [routerLink]="['/servicios', 2]">Saber más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="single-we-do-box text-center">
                            <div class="we-do-description">
                                <div class="we-do-info">
                                    <div class="we-do-img">
                                        <img src="assets/img/home/abuelos.png" alt="image of support">
                                    </div>
                                    <div class="we-do-topics">
                                        <h4>
                                            <span class="fg-primary">
                                                ADULTO MAYOR:
                                            </span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="we-do-comment">
                                    <p class="text-appodium" style="font-size:13pt; margin-bottom: 0;">
                                        Alteraciones cognitivas<br> Dificultades de familia<br> Alteraciones
                                        emocionales<br>
                                    </p>
                                    <br>
                                    <div class="justify-content-center">
                                        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4"
                                            style="padding: 0 20px" [routerLink]="['/servicios', 3]">Saber más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="sectionContact">
    <div class="separador">
        <div class="my-auto">
            <h4 style="font-size:35px; color: #fff;"><span> ¿Quieres saber más? ¡Contáctanos!</span></h4>
        </div>
        <!--  <div class="justify-content-center">
            <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4" [routerLink]="['/contactenos']">Contacto</button>
        </div> -->
    </div>
</section>

<div class="page-section" id="howWork">
    <div class="container team-appodium">
        <h2 class="section-header text-center wow fadeIn team-title">Cómo funciona???</h2>
        <div class="divider offset-md-3 offset-lg-4"></div>
        <div class="row justify-content-center" style="margin-top:64px !important">
            <div class="col-lg-12">
                <div class="row justify-content-center sec-howwork" style="text-align: center">

                    <div class="py-3 wow fadeInLeft single-we-do-box"
                        style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="border-0 text-center pt-0">
                            <div class="team-item">
                                <div class="we-do-img img-laptop">
                                    <img src="assets/img/head-apodium.svg" alt="image of business">
                                </div>
                                <h5 class="team-name mt-2" style="color:#5e35b0">APPODIUM</h5>
                                <div class="divider-purple"></div>
                            </div>
                            <div style="text-align: left; padding: 0 20px;">
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">Si ya navegaste a través de la página, iniciarás tu experiencia ingresando a través de la opción "REGISTRO" para poder agendar tu cita. </p>
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">Posteriormente, el ingreso lo deberás realizar a través de la opción de LOGIN, con la clave previamente registrada.</p>
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">Anímate… Recuerda que la virtualidad permite horarios flexibles, ajustables a tu disponibilidad y desde el lugar donde te encuentres.</p>
                            </div>

                        </div>
                    </div>

                    <div class="py-3 wow fadeInRight single-we-do-box"
                        style="visibility: visible; animation-name: fadeInRight;">
                        <div class="border-0  pt-3">
                            <div class="team-item">
                                <div class="we-do-img img-laptop">
                                    <img src="assets/img/icons/cita-medica-appodium_head.png" alt="image of business">
                                </div>
                                <h5 class="team-name mt-2" style="color:#5e35b0">AGENDA UNA CITA </h5>
                                <div class="divider-purple"></div>
                            </div>
                            <div style="text-align: left; padding: 0 20px;">
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">1. Una vez ingreses, dirígete al módulo de Citas para agendarte. </p>
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">2. Elige el profesional de acuerdo al perfil requerido. Si tienes duda, toma la opción de Psicólogo general.</p>
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">3. Realizas el pago en línea a través de PSE.</p>
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">4. Recibirás a través del correo y Whatsapp la confirmación de tu cita.</p>
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">5. Si requires reagendar tu cita, lo deberás realizar a través del botón de "contactanos", 48 horas antes del inicio de la cita.</p>
                            </div>
                        </div>
                    </div>

                    <div class="py-3 wow fadeInRight single-we-do-box "
                        style="visibility: visible; animation-name: fadeInRight;">
                        <div class="border-0 text-center pt-2">
                            <div class="team-item">
                                <div class="we-do-img img-laptop">
                                    <img src="assets/img/icons/portatil-appodium.png" alt="image of support"
                                        style="max-width: 73px;">
                                </div>
                                <h5 class="team-name mt-2" style="color:#5e35b0">CITA POR PSICOLOGIA </h5>
                                <div class="divider-purple"></div>
                            </div>

                            <div style="text-align: left; padding: 0 20px;">
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">1. Recibirás nuevamente un recordatorio 24 horas previo a la cita, por correo y whatsapp. </p>
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">2. El día de la cita recibirás a tu celular el enlace para ingresar a la videollamada.</p>
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">3. Entrevista con el profesional desde tu móvil o computador, por un tiempo de 45 minutos.</p>
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">4. Definición de Acuerdos Terapéuticos.</p>
                                <p class="fs-small mt-2 text-justiyfy" style="font-size:12pt">5. Agenda tu siguiente cita.</p>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="py-3 wow fadeInUp single-we-do-box" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="border-0 text-center pt-3">
                            <div class="team-item">
                                <div class="we-do-img img-laptop">
                                    <img src="assets/img/icons/document-appodium.png" alt="image of support">
                                </div>
                                <h5 class="team-name mt-2" style="color:#5e35b0">TRIAGE </h5>
                                <div class="divider-purple"></div>
                            </div>
                            <div style="text-align: left; padding: 0 20px;">
                               <!- -  <p class="fs-small my-0" style="font-size:12pt">1. Inicia tu experiencia en el botón de
                                    <a [routerLink]="['/triage']"> <span class="fg-secondary"> Triage. </span></a>
                                </p> - ->
                             <!- -    <p class="fs-small my-0" style="font-size:12pt">1.
                                    <a [routerLink]="['/register']"> <span class="fg-secondary"> Regístrate. </span></a>
                                </p>
                                <p class="fs-small my-0" style="font-size:12pt">2. Realiza el pago.</p>
                                <p class="fs-small my-0" style="font-size:12pt">4. Elige la Ruta de atención:</p>
                                <ul class="list-primer-contacto">
                                    <li style="font-size:12pt">Avanza al Triage completo</li>
                                    <li style="font-size:12pt">Agenda una cita directa</li>
                                </ul> - ->
                                <p class="fs-small my-0" style="font-size:12pt">A través de esta opción que NO es obligatoria y totalmente GRATIS para ti, lograremos identificar algunas señales que enviaremos INMEDIATAMENTE a tu correo registrado, una vez respondas a cada una de las preguntas realizadas</p>

                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section bg-gris" id="team">

    <div class="container team-appodium">
        <h2 class="section-header text-center wow fadeIn team-title">Nuestro Equipo</h2>
        <div class="divider offset-md-3 offset-lg-4"></div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-12">
                <div class="row justify-content-center" style="text-align: center">
                    <div class="iconic-content  description-team">
                        <p>
                            <span class="fg-primary">Appodium </span>te ofrece la posibilidad de recibir apoyo de
                            diferentes profesionales en el área de psicología:
                        </p>
                    </div>
                    <div class="col-md-8 col-lg-4 py-3 wow fadeInLeft"
                        style="visibility: visible; animation-name: fadeInLeft;">

                        <div class="card card-body border-purple card-mobile text-center shadow pt-5">
                            <div class="team-item">
                                <div class="team-avatar">
                                    <img src="assets/img/doctors/juan fernando.JPG" alt="" width="150">
                                </div>
                                <h5 class="team-name mt-4" style="color:#0cbcb7">JUAN FERNANDO <br>OROZCO RODRÍGUEZ </h5>
                                <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOLOGO GENERAL </h6>
                            </div>
                            <p class="fs-small description-psicolog mt-2 mb-2 pb-1 text-justiyfy"
                                style="font-size:13pt">Profesional de la salud mental que apoya los procesos
                                psicológicos a partir de la orientación cognitiva, asumiendo rol de guía y consultor.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-4 py-3 wow fadeInUp "
                        style="visibility: visible; animation-name: fadeInUp;">
                        <div class="card card-body border-purple card-mobile text-center shadow pt-5">
                            <div class="team-item">
                                <div class="team-avatar">
                                    <img src="assets/img/doctors/Claudia Rodriguez.JPG" alt="" width="150">
                                </div>
                                <h5 class="team-name mt-4" style="color:#0cbcb7">CLAUDIA <br>RODRÍGUEZ RAMOS</h5>
                                <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOPEDAGOGA GENERAL</h6>
                            </div>
                            <p class="fs-small description-psicolog mt-2 mb-3 pb-5 text-justiyfy"
                                style="font-size:13pt">Profesional de la pedagogía y la psicología que apoya los
                                procesos cognitivos y del aprendizaje. 
                            </p>
                        </div>
                    </div>            
                </div>

                <div class="row justify-content-center mb-5">
                    <div class="col-md-8 col-lg-4 py-3 wow fadeInLeft "
                        style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="card card-body border-purple card-mobile text-center shadow pt-5">
                            <div class="team-item">
                                <div class="team-avatar">
                                    <img src="assets/img/doctors/luisa.jpg" alt="" width="150">
                                </div>
                                <h5 class="team-name mt-4" style="color:#0cbcb7">LUISA FERNANDA <br>PINEDA CORONADO </h5>
                                <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOLOGA CLÍNICA – MAGISTER </h6>
                            </div>
                            <p class="fs-small description-psicolog mt-1" style="font-size:13pt">Especialista que
                                atiende problemas de salud mental de tipo emocional y comportamental a partir de
                                evaluación, diagnostico e intervención. </p>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-4 py-3 wow fadeInUp"
                        style="visibility: visible; animation-name: fadeInUp;">
                        <div class="card card-body border-purple card-mobile text-center shadow pt-5 card-andrea">
                            <div class="team-item">
                                <div class="team-avatar">
                                    <img src="assets/img/doctors/Andrea.JPG" alt="" width="150">
                                </div>
                                <h5 class="team-name mt-4" style="color:#0cbcb7">ANDREA <br>RAMÍREZ JARAMILLO</h5>
                                <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOLOGA CLÍNICA</h6>
                            </div>
                            <p class="fs-small  description-psicolog mt-2" style="font-size:13pt">Especialista
                                que atiende problemas familiares que comprometen la conexión y relación entre los
                                miembros. </p>
                        </div>
                    </div>

                </div>
                <div class="row justify-content-center mb-5">
                    <div class="col-md-8 col-lg-4 py-3 wow fadeInLeft "
                        style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="card card-body border-purple card-mobile text-center shadow pt-5">
                            <div class="team-item">
                                <div class="team-avatar">
                                    <img src="assets/img/doctors/diana-ramos.jpg" alt="" width="150">
                                </div>
                                <h5 class="team-name mt-4" style="color:#0cbcb7">DIANA <br>RAMOS </h5>
                                <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOLOGA ESPECIALISTA SEGURIDAD Y SALUD EN EL TRABAJO</h6>
                            </div>
                            <p class="fs-small description-psicolog mt-1" style="font-size:13pt">Especialista encargado 
                                de la evaluación, diagnóstico e intervención de programas de prevención y promoción
                                en factores psicosociales asociados al trabajo optimizando las condiciones laborales 
                                y la calidad de vida ocupacional. </p>
                        </div>
                    </div>
                    <!-- <div class="col-md-8 col-lg-4 py-3 wow fadeInUp"
                        style="visibility: visible; animation-name: fadeInUp;">
                        <div class="card card-body border-purple card-mobile text-center shadow pt-5 card-andrea">
                            <div class="team-item">
                                <div class="team-avatar">
                                    <img src="assets/img/doctors/Andrea.JPG" alt="" width="150">
                                </div>
                                <h5 class="team-name mt-4" style="color:#0cbcb7">ANDREA <br>RAMÍREZ JARAMILLO</h5>
                                <h6 class="team-name mt-4" style="color:#0cbcb7">PSICOLOGA FAMILIAR – MAGISTER </h6>
                            </div>
                            <p class="fs-small  description-psicolog mt-2" style="font-size:13pt">Especialista
                                que atiende problemas familiares que comprometen la conexión y relación entre los
                                miembros. </p>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Costos -->
<section class="page-section" id="costos" #costos>
    <div class="container sec-costos">
        <div class="we-do-details">
            <div class="section-header text-center">
                <h2 class="title-section">Planes de atención:</h2>
                <div class="divider offset-md-3 offset-lg-4"></div>
            </div>
            <!--/.section-header-->
            <div class="we-do-carousel" style="margin-top:80px !important">
                <div class="row" style="justify-content: center">

                    <div class="row justify-content-center mt-2">
                        <div class="col-lg-12">
                            <div class="row justify-content-center sec-prices" style="text-align: center">

                                <div class="wow fadeInLeft single-we-do-box px-0"
                                    style="visibility: visible; animation-name: fadeInLeft;">
                                    <div class="border-0 text-center ">
                                        <div class="team-item pt-2 pb-3 px-3 bg-white">
                                            <!-- <div class="we-do-img">
                                    <img src="assets/img/head-apodium.svg" alt="image of business" style="max-width:71px">
                                </div> -->
                                            <h5 class="team-name mt-3" style="color:#5e35b0">SESIÓN DE TRATAMIENTO
                                                GENERAL</h5>
                                            <div class="divider-purple-prices-short"></div>
                                        </div>
                                        <div style="text-align: left; padding: 0 30px; margin-top:20px">
                                            <p class="fs-small mt-2 text-justify" style="font-size:13pt">Sesión de 45
                                                minutos, con un profesional de psicología general </p>
                                            <p class="fs-small my-0 text-justify"
                                                style="font-size:13pt; font-weight: 500;">Costo: $ 70.000 </p>
                                        </div>
                                        <a>
                                            <button class="btn btn-primary font-weight-bold px-9 py-2 mt-1 mb-3 mx-4"
                                                style="padding: 0 20px" (click)="setTypeDoctor(1)">Agendar</button>
                                        </a>
                                    </div>
                                </div>
                               <!--  <div class="wow fadeInRight single-we-do-box px-0"
                                    style="visibility: visible; animation-name: fadeInRight;">
                                    <div class="border-0 ">
                                        <div class="team-item py-3 bg-white">
                                            <h5 class="team-name mt-2" style="color:#5e35b0">SESIÓN DE TRATAMIENTO
                                                ESPECIALISTA</h5>
                                            <div class="divider-purple-prices"></div>
                                        </div>
                                        <div clasS="card-middle-down-costos"
                                            style="text-align: left; padding: 0 28px; margin-top:0 20px">
                                            <p class="fs-small mt-3" style="font-size:13pt">Sesión de 45 minutos, con un
                                                profesional con Especialización</p>
                                            <p class="fs-small my-0 text-justify"
                                                style="font-size:13pt; font-weight: 500;">Costo: $ 100.000 </p>
                                        </div>
                                        <a>
                                            <button class="btn btn-primary font-weight-bold px-9 py-2 mt-1 mb-3 mx-4"
                                                style="padding: 0 20px" [routerLink]="['/agendar-cita']">Agendar</button>
                                        </a>
                                    </div>
                                </div> -->
                                <div class="wow fadeInUp single-we-do-box px-0"
                                    style="visibility: visible; animation-name: fadeInUp; ">
                                    <div class="border-0 text-center ">
                                        <div class="team-item pt-2 pb-3 px-3 bg-white">
                                            <!-- <div class="we-do-img mt-4">
                                    <img src="assets/img/icons/document-appodium.png" alt="image of support" style="max-width:61px">
                                </div> -->
                                            <h5 class="team-name mt-3" style="color:#5e35b0">SESIÓN DE TRATAMIENTO
                                                MAGISTER</h5>
                                            <div class="divider-purple-prices-short"></div>
                                        </div>
                                        <div class="card-right-costos"
                                            style="text-align: left; padding: 0 28px; margin-top:20px">
                                            <p class="fs-small mt-2" style="font-size:13pt">Sesión de 45 minutos, con un
                                                profesional con Magister</p>
                                            <p class="fs-small my-0 text-justify"
                                                style="font-size:13pt; font-weight: 500;">Costo: $ 150.000 </p>
                                        </div>
                                        <a>
                                            <button class="btn btn-primary font-weight-bold px-9 py-2 mb-3 mx-4"
                                                style="padding: 0 20px; margin-top:28px" (click)="setTypeDoctor(2)">Agendar</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Empresas -->
<div class="page-section bg-gris" id="empresas" style="padding-bottom: 20px !important">

    <div class="container team-appodium section-header">
        <h2 class="text-center wow fadeIn team-title">Paquetes Empresariales</h2>
        <div class="divider offset-md-3 offset-lg-4"></div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="row justify-content-center" style="text-align: center">
                    <div class="iconic-content  description-team">
                        <p>
                            <span class="fg-primary"> Appodium </span>Brinda apoyo a empresas que estén interesadas en
                            brindar soporte desde una visión clínica en respuesta a las necesidades del riesgo
                            psicosocial.
                        </p>
                    </div>
                    <div class="col-md-8 col-lg-4 py-3 wow fadeInLeft"
                        style="visibility: visible; animation-name: fadeInLeft;">

                        <div class="card card-body border-purple card-mobile  text-center shadow pt-5">
                            <div class="team-item">
                                <!-- <div class="team-avatar">
                                    <img src="assets/img/person/person_2.png" alt="">
                                </div> -->
                                <h5 class="team-name " style="color:#0cbcb7">RIESGO PSICOSOCIAL EMPRESARIAL</h5>
                                <div class="we-do-comment">
                                    <div class="justify-content-center">
                                        <button class="btn btn-primary font-weight-bold px-9 py-2 my-3 mx-4"
                                            style="padding: 0 20px" [routerLink]="['/empresas', 1]">Saber más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-4 py-3 wow fadeInUp"
                        style="visibility: visible; animation-name: fadeInUp;">
                        <div class="card card-body border-purple card-mobile card-middle-apoyo text-center shadow pt-5">
                            <div class="team-item">
                                <h5 class="team-name  card-middle-title mb-4" style="color:#0cbcb7">APOYO DOBLE PRESENCIA
                                </h5>
                                <div class="we-do-comment mt-3 pt-2">
                                    <div class="justify-content-center">
                                        <button class="btn btn-primary  btn-middle font-weight-bold px-9 py-2 my-3 mx-4"
                                            style="padding: 0 20px" [routerLink]="['/empresas', 3]">Saber más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-4 py-3 wow fadeInRight"
                        style="visibility: visible; animation-name: fadeInRight;">
                        <div class="card card-body border-purple card-mobile card-middle-apoyo text-center shadow pt-5">
                            <div class="team-item">
                                <h5 class="team-name  card-middle-title mb-4" style="color:#0cbcb7">SALUD MENTAL EMPRESARIAL</h5>
                                <div class="we-do-comment mt-3 pt-2">
                                    <div class="justify-content-center">
                                        <button class="btn btn-primary  btn-middle font-weight-bold px-9 py-2 my-3 mx-4"
                                            style="padding: 0 20px" [routerLink]="['/empresas', 2]">Saber más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- footer -->
<div class="page-footer-section bg-dark fg-white">

    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6 mb-2 logo-footer">
                <img src="assets/img/appodium-bn.png" alt="" width="250">
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-4">
                <p class="d-inline-block">Copyright 2020. This template designed by MACode ID</p>
            </div>
            <div class="col-12 col-md-4">
                <!-- Social Media Button -->
                <div class="redes-appodium">
                    <a href="https://www.facebook.com/profile.php?id=100086745830981" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-facebook"></span></a>
                    <a href="https://www.instagram.com/appodium_psicologia/" class="btn btn-fab btn-primary fg-white" style="margin-left: 8px;">
                        <span
                            class="mai-logo-instagram">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <a [href]="habeas" target="_blank"
                    style="color:white !important">
                    <small> politicas de privacidad. </small>
                </a>
            </div>

        </div>
    </div>
</div>

<div id="contactclick_button_floating" style="position:fixed; bottom:15px; left: 20px; z-index: 2147483640; text-align:left">
    <button class="btn btn-primary shadow" [routerLink]="['/contactenos']">
        <img src="assets/img/icons/contact-white.png" alt="contactenos, boton contacto" width="25" *ngIf="iconButton">
        <span *ngIf="!iconButton">¡Contáctanos!</span>
    </button>
</div>

<!-- <section [ngClass]="{'sectionStiky': !mobile,  'sectionStiky-mobile': mobile }">
    <div class="separador">
        <div class="my-auto" *ngIf="!mobile">
            <h4 class="offset-lg-1" style="font-size:35px; color: #fff;"><span> A UN CLIC DE EMPODERAR TU MENTE !!!</span></h4>
            <! -- <h5 style="color: #fff"> Quédate con nosotros Contáctanos </h5> -- >
        </div>
        <div class="justify-content-center">
            <button class="btn btn-purple font-weight-bold shadow px-9 py-2 my-3 mx-4" [routerLink]="['/contactenos']">Contacto</button>
        </div>
    </div>
</section> -->