.container {
    max-width: 1200px;
}

.top-bar {
    display: block;
    height: 35px;
    border-bottom: 1px solid #f0f1f6;
    font-size: 14px;
}

.top-bar .container,
.top-bar .row {
    height: 100%;
}

.top-bar a {
    color: #6D728B;
}

.top-bar a:hover {
    color: #5e35b0;
    text-decoration: none;
}

.logo-appodium {
    max-width: 200px;
}

.auth-appodium {
    color: #0dbcb7 !important;
    font-size: 1.1rem;
    cursor: pointer;
}

.menu-appodium {
    font-size: 1rem;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgb(109 114 139 / 30%);
}