<button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse" id="navbarContent" [ngbCollapse]="!toggleNavbar">
    <ul class="navbar-nav ml-auto offset-1 pt-3 pt-lg-0">
        <li class="nav-item active">
            <a [routerLink]="['/home']" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
            <!-- <a class="nav-link" routerLinkActive="active" href="#about" (click)="closeMenu()">Quienes Somos</a> -->
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/']" fragment="about" (click)="closeMenu()">Quienes Somos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" fragment="servicios" (click)="closeMenu(); scrollToSectionService()">Que ofrecemos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" fragment="howWork" (click)="closeMenu()">Como funciona</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" fragment="team" (click)="closeMenu()"> Nuesto Equipo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="closeMenu()"> Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" fragment="costos" (click)="closeMenu()"> Costos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" fragment="empresas" (click)="closeMenu()"> Empresas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/agendar-cita']" (click)="closeMenu()"> Citas </a>
            <!--  <a class="nav-link" [routerLink]="['/agendar-cita']" *ngIf="this.userLogged  == 'true' " (click)="closeMenu()"> Citas </a> -->
        </li>
        <ul class="navbar-nav user-log" *ngIf="this.userLogged != 'true' ">
            <li class="nav-item">
                <a class="nav-link auth-appodium" [routerLink]="['/login']" (click)="closeMenu()">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link auth-appodium" [routerLink]="['/register']" (click)="closeMenu()">Registro</a>
            </li>
        </ul>
        <ul class="navbar-nav user-log" *ngIf="this.userLogged == 'true' " (click)="closeMenu()">
            <!-- <li class="nav-item">
                <a class="nav-link auth-appodium" (click)="closeMenu()">Perfil</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link auth-appodium" (click)="logout(); closeMenu()">Logout</a>
            </li>
        </ul>
    </ul>
</div>
